* {
  margin: 0px;
  padding: 0px;
}

* {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  padding: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: kumbh-regular;
}

a {
  text-decoration: none;
  color: #A4A4A4;
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.premium-usuario {
  display: flex;
  align-items: center;
}

.usuario {
  padding-left: 10px;
}

.line-temp {
  width: 27px;
  height: 2px;
  background-color: #000;
  border-radius: 10vh;
  margin: 5px;
  margin-right: 30px;
}

.pesq {
  height: 45px;
}

.input-pesq {
  border: none !important;
  outline: none;
  color: #000;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  border-radius: -10px;
  margin-left: 50px;
  background: transparent;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #A4A4A4;
  list-style: none;
  font-size: .9em;
}

.atual {
  font-size: 1.16em;
  color: #000;
  position: relative;
}

.titulo-1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.titulo-2 {
  /* font-family: kumbh-regular; */ 
  font-weight: 300;
  font-size: 16px;
  color: #68584c;
}

.titulo-3 {
  font-size: 13px;
}

.centralizado {
  text-align: center;
}

nav hr {
  margin-bottom: 2vh;
}

.container-menu a {
  margin-right: 2vh;
}
  
  .hamburger {
  z-index: 5;
  cursor: pointer;
 }
  
  .hamburger {
  font-size: 3em;
  color: #e1e1e1;
}
  
  .overlay {
  position: fixed;  
  top: 0;
  left: -40px;
  width: 180%;
  height: 260%;
  background-color: #0000008c;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition:all .2s ;
  animation-delay: .5s;
}
  
.show-menu .overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
  pointer-events: auto;
  padding-left: 27rem;
  font-size: .7em;
  transition: .8s ease-in-out;
  transition-duration: .9s;
}

.sidebar {
  width: calc(100% / 1.4);
  height: 100vh;
  background-color: #fff;
  box-shadow: 10px 5px 15px 10px #0000003d;
  position: fixed;
  top: 0;
  left: -90rem;
  transition: all .8s;
  z-index: 10;
  padding: 19px;
  border-radius:0 45px ;
}

.sidebar, .titulo-1 {
  color: #000;
}

.sidebar hr {
  width: 80%;
  color: #000;
}

.show-menu .sidebar {
  left: 0;
  transition-duration: .8s;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  flex-direction: column;
}
  
.menu-item {
  margin-bottom: .5rem;
  list-style-type: none;
}

.menu-link {
  font-family: 'Trebuchet MS';
  font-size:  28px;
  color: #000;
  position: relative;
  text-decoration: none;
  line-height: 60px;
  transition: color .5s;
}
  
.btn-ass {
  width: 230px;
  height: 40px;
  font-size: 1.2em;
  border-radius:10vh 0 10vh 10vh;
  background:linear-gradient(90deg, #FEBB13, #FD9605);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@font-face{
  font-family: kumbh-regular;
  src: url(../../../fontes/Kumbh_Sans/static/KumbhSans-Medium.ttf);
  } 

.frase {
  text-align: center;
  margin: 20px;
  margin-top: -20px;
}

.txt-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

[data-anime] {
  opacity: 0;
  transition: .5s ease-in-out; 
}

[data-anime="left"] {
  transform: translate3d(-50px, -30px, -10px);
}

[data-anime="right"] {
  transform: translate3d(50px, 30px, 0);
}

[data-anime="bottom"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 100%;
  transform: translate3d(0px, 0px, 0px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.teclado button {
  background-color: transparent;
  border: none;
}