.pesq {
  width: 100%;
  /* background: linear-gradient(90deg, #ADECFA, #16B0FF); */
  background-color: #B8E7FB;
  margin-bottom: 2.5vh;
  border-radius: 10vh;
  display: flex;
  overflow: hidden;
}

.icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: #52DAFF;
  height: 45px;
  width: 45px;
  border-radius: 100vh;
  position: absolute;
}

.barra {
  position: absolute;
  bottom: -20px;
  left: -5px;
  width: 50px;
  height: 4px;
  background-color: #52a0ff;
}

.banner-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 95%;
  height: 163px;
  background-color: #ADECFA;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  position: relative;
  z-index: 2;
}

.banner:after {
  content:"";
  width: 180px;
  height: 0px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  top: -1px;
  left: 15%;
}

nav ul {
  position: relative;
  z-index: 4;
}

.azul {
  color: #066799;
}

.txt-center {
  position: relative;
}