<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="../css/login.css">
        <title>HANDS</title>
    </head>
    <body>
        <div class="area-login">
            <h3 class="titulo-1">Bem-vindo de volta!</h3>
            <form action="http://192.168.1.6/HANDS/HANDS/HANDS/server/login.php" method="get">
                <input class="input" type="email" name="ds_email" id="ds_email" placeholder="E-mail" required>   
                <input class="input" type="password" name="nr_senha" id="nr_senha" placeholder="Senha" required>
                <input class="button" type="submit" id="submit" class="btn-primary" value="Login"/>
            </form>
            <br>
        <p class="titulo-3">Não tem uma conta? <a href="cadastro.html"><span class="cadastro">Sign in</span></a></p>
        </div>
        </body>
    </html>