/* 
.banner {
    background: linear-gradient(90deg, #FECF82, #FC9404, #FF66B2);
    width: 100%;
    box-shadow: 0px 5px 20px 1px #00000084;
    height: auto;
    border-radius: 40px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    margin-top: 2vh;
} */

.pesq {
    width: 100%;
    height: 40px;
    /* background: linear-gradient(90deg, #ADECFA, #16B0FF); */
    background-color: #EFFFE5;
    margin-bottom: 2.5vh;
    border-radius: 10vh;
    display: flex;
    overflow: hidden;
}

.icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: #00BD9E;
    height: 45px;
    width: 45px;
    border-radius: 100vh;
    position: absolute;
}

.barra {
    position: absolute;
    bottom: -20px;
    left: -5px;
    width: 50px;
    height: 4px;
    background-color: #00BD9E;
  }

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner svg{
    filter: drop-shadow(10px 20px 4rem  #00BD9E);
}

.verde {
    color: #136c41ba;
  }

.video-aulas {
    width: auto;
    background-color: #fff;
    border-radius: 40px;
    padding-top: 3vh;
    padding-left: 3vh;
    position: relative;
    z-index: 3;
    padding-bottom: 30px;
    transition: .5s ease-in-out;
}

.banner .video-aulas .titulo-1 {
    color: #000;
}

.aula {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 2vh;
}

.video-aulas iframe {
    width: 95%;
    height: 30vh;
    margin-right: 3vh;
    border-radius: 20px;
}

.negrito {
    font-weight: bold;
}

.banner .row .titulo-1 {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    left: 3vh;
    text-shadow: 0 0 50px #00000084;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.liz {
    position: absolute;
    top: -37px;
}

.blur {
    position: absolute;
    top: -270px;
    z-index: 0;
}

.info {
    margin-right: 3vh;
    margin-top: 15px;
}

.video-aulas .ler-mais-btn {
    position: absolute;
    bottom: 17px;
    right: 19px;
    margin-left: 65%;
    color: #A6A6A6;
    cursor: pointer;
}

.mais-conteudo {
    display: none;
    transition: .5s ease-in-out;
}

nav {
    position: relative;
    z-index: 5;
}

.pesq {
    position: relative;
    z-index: 6;
}

/* //////////////////////////////////// */
.progresso {
    text-align: center;
}

.progresso-1 {
    display: flex;
    flex-direction:row;
    padding-top: 4vh;
    padding-right: 2vh;
    height: 250px;
    justify-content: space-around;
    align-content: space-between;
    position: relative;
}

.prog-seg {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    justify-content: space-between;
}

.num-prog {
    background-color: #00BD9E;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    position: relative;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.num-prog canvas {
    position: absolute;
    left: 20%;
    margin-left: -50px;
}

.num-prog svg {
    position: absolute;
    top: -15px;
    left: -15px;
}

.blur-verde {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: -22px;
    filter: blur(80px);
    background-color: #00BD9E;
}

.nivel {
    background-color: #AEF1D480;
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
}

.nivel hr {
    border-color: #2A8B5B;
    border-radius: 100%;
}

.nivel svg {
    margin-top: 4px;
}

.quant-hrs {
    background-color: #ACF9CF;
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    position: relative;
}

.quant-hrs svg {
    position: absolute;
    top: 20px;
    right: -10px;
}

.quant-hrs hr {
    border-color: #128031;
    border-radius: 100%;
}

.quant-hrs #tempoDecorrido {
    font-size: 1.4em;
    color: #128031;
    text-align: center;
    margin-top: 2px;
}

.atividade {
    width: 100%;
    height: 100px;
    margin-top: 1.5vh;
    border-radius: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #4ae2b4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.atividade .titulo-1 {
    font-size: 1.15em;
    font-weight: 600;
}

.atividade a {
    padding: 8px 10px;
    border-radius: 10vh;
    background:linear-gradient(90deg, #00BD9E, #2fceb4);
    color: #ffffff;
    width: 30%;
}

.aula video {
    width: 150px;
    border: solid 1px #000;
    margin-right: 3vh;
    border-radius: 10px;
}

.videoaulas {
    text-align: center;
}

.btn{
    padding: 7px 18px;
    border-radius: 10vh;
    box-shadow: 5px 4px 15px  #4f4f4f6f;
    background-color: #fff;
    color: #000;
}

.btn-svg {
    position: relative;
    margin-top: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-svg svg {
    position: absolute;
    bottom: -2%;
    z-index: -1;
    filter: drop-shadow(0 0 1em rgba(25, 201, 99, 0.9));
}