.pesq {
    width: 100%;
    height: 40px;
    /* background: linear-gradient(90deg, #ADECFA, #16B0FF); */
    background-color: #EFFFE5;
    margin-bottom: 2.5vh;
    border-radius: 10vh;
    display: flex;
    overflow: hidden;
}

.icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: #00BD9E;
    height: 40px;
    width: 40px;
    border-radius: 100vh;
    position: absolute;
}

.banner {
    width: 100%;
    height: 163px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.banner svg {
    opacity: 65%;
}

.banner .svg-1 {
    opacity: 1;
    position: absolute;
}

.numeros svg {
    background-color: #d9d9d940;
    padding-left: 15px;
}

.numeros {
    width: 78px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

.numeros-1 {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

.numeros-1 svg {
    background-color: #d9d9d940;
    padding-left: 15px;
}

.teclado {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% / 1.2);
    justify-content: space-around;
    align-items: center;
}
