.banner {
    width: 100%;
    height: 163px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.animais-aereos {
    margin-top: 30px;
    position: relative;
}

.animal-aereo {
    background-color: #D9D9D940;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.ani-aer {
    margin-bottom: 30px;
}

.svg-animal {
    background-color: #D5D2F4;
    width: 19vh;
    height: 100%;
    border-radius: 100vh;
    position: absolute;
    right: -40px;
    z-index: 5;
}

.svg-animal-2 {
    background-color: #BCB7EA;
    width: 19vh;
    height: 100%;
    border-radius: 100vh;
    position: absolute;
    right: -40px;
    z-index: 5;
}

.animais-aereos svg {
    position: absolute;
    bottom: -14px;
    right: 5px;
    z-index: 8;
}

.nome-animal {
    margin-right: 90px;
    position: relative;
    z-index: 7;
}

.nome-animal h4 {
    color: #00000060;
    font-family: anika-bold;
    font-size: .8em;
}

.espelho {
    transform: scaleX(-1);
}