<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="/cadastro.css">
        <title>HANDS</title>
    </head>
    <body>
        <div class="area-cadastro">
            <h3 class="titulo-1">Seja bem-vindo</h3>
            <h4 class="titulo-2">Crie sua conta</h4>
            <div class="progresso"></div>
            <div class="campos">
                <form action="/auth/cadastro" method="POST">
                <input type="text" name="nome" id="" placeholder="Nome">
                <input type="text" name="sobrenome" id="" placeholder="Sobrenome">
                <input type="date" name="dt_nascimento" id="" placeholder="Data de nascimento">
                <input type="email" name="email" id="" placeholder="E-mail">
                <select name="tp_usuario" class="form-control" placeholder="Tipo de Usuario">
                <option value="aluno">Aluno</option>
                <option value="professor">Professor</option>
                <input type="password" name="senha" id="" placeholder="Senha">
                <input type="password" name="ConfirmarSenha" id="" placeholder="Confirmação de senha">
                <input type="submit" class="btn btn-primary"/>
            </div>
            </form>
            <footer>
                <p class="titulo-3">Já possuí uma conta? <a href="/aulas.hbs">Log in</a></p>
                <div class="ou">
                    <div class="linha"></div>
                    <p class="titulo-3">ou</p>
                    <div class="linha"></div>
                </div>
            </footer>
        </div>
        <script src="js/troca-pag.js"></script>
        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
        <script src="js/carrossel.js"></script>
    </body>
</html>
