<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/teste.css">
  <title>Área de teste</title>
</head>
<body>
    <div class="container">
      <div class="centro">
      <div class="form-group">
          Formulário de Registro
        </div>
        <div class="card-body">
          <form action="/auth/teste" method="POST">
           Nome: <input name="nome" class="form-control" type="text" required><br/>
           Email: <input name="email" class="form-control" type="email" required><br/>
          Senha: <input name="senha" class="form-control" type="password" required><br/>
          Confirmar Senha: <input name="ConfirmarSenha" class="form-control" type="password" required><br/>
          Tipo de usuário:
          <select name="tp_usuario" class="form-control" required>
        <option value="aluno">Aluno</option>
        <option value="professor">Professor</option>
    </select><br/>
    Data de Registro: <input name="dt_registro" class="form-control" type="date" required><br/>
    <input type="submit" class="btn btn-primary"/>
          </form>
        </div>
      </div>
      {{#if message }}
      <h4 style="color: red;">{{message}}</h4>
      {{/if}}
    </div>
</body>
</html>