<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="/cadastro.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0"></script>
        <script>
            //script para masked
            window.onload = function() {
                var cpfField = document.getElementById('rg');
                VMasker(cpfField).maskPattern("99.999.999-9");
            }
        </script>
           <script>
            //script para o captcha funcionar 
            function onSubmit(token) {
            // Verifique se todos os campos do formulário estão preenchidos
            var form = document.getElementById("Form");
            for (var i = 0; i < form.elements.length; i++) {
                if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                    alert('Há campos que ainda precisam ser preenchidos');
                    return false;
                }
            }
            // Habilitar o botão de envio após a verificação do reCAPTCHA
            document.getElementById("submit").disabled = false;
            return true; // Permite o envio do formulário
        }
</script>
        <title>HANDS</title>
    </head>
    <body>
        <div class="area-cadastro">
            <h3 class="titulo-1">Seja bem-vindo</h3>
            <h4 class="titulo-2">Crie sua conta</h4>
            <div class="progresso"></div>
            <div class="campos">
                <form id="Form" action="/auth/cadastro_prof" method="POST" required>
                <input type="text" name="nome" id="" placeholder="Nome" required>
                <input type="text" name="sobrenome" id="" placeholder="Sobrenome" required>
                <input type="date" name="dt_nascimento" id="dt_nascimento" placeholder="Data de nascimento" required>
                <input type="email" name="email" id="" placeholder="E-mail" required>
                <input type="text" name="rg" id="rg" placeholder="RG" required>
                <input type="password" name="senha" id="" placeholder="Senha" required>
                <input type="password" name="Confir_Senha" id="" placeholder="Confirmação de senha" required>
                <br>
                <div class="g-recaptcha" data-sitekey="6LcW8X4pAAAAAKHfmywUcAyarIYi5RwVY7DVPP20" data-callback="onSubmit">
                </div>
                <div class="termos_uso">
                <input type="checkbox" id="termos_uso" name="termos_uso" required>
                <p for="termos_uso">Concordo com os <a href="/termos-de-uso.hbs" target="_blank">Termos de Uso</a></p>
                </div>
                <br>
                <input type="submit" id= "submit" class="btn btn-primary" disabled/>
            </div>
            </form>
            {{#if message }}
      <h4 style="color: #000000;">{{message}}</h4>
      {{/if}}
            <footer>
                <p class="titulo-3">Já possuí uma conta? <a href="/login.hbs">Log in</a></p>
                <div class="ou">
                    <div class="linha"></div>
                    <p class="titulo-3">ou</p>
                    <div class="linha"></div>
                </div>
            </footer>
        </div>
        <script src="js/troca-pag.js"></script>
        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
        <script src="js/carrossel.js"></script>
        </body>
</html>
