<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="icon" type="image/x-icon" href="/logo.png">
        <link rel="stylesheet" href="/cadastro.css">
        <link rel="stylesheet" href="/hands.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0"></script>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
        <script>
            //script para masked
            window.onload = function() {
                var cpfField = document.getElementById('cpf');
                VMasker(cpfField).maskPattern("999.999.999-99");
            }
        </script>
           <script>
            //script para o captcha funcionar 
            function onSubmit(token) {
            // Verifique se todos os campos do formulário estão preenchidos
            var form = document.getElementById("Form");
            for (var i = 0; i < form.elements.length; i++) {
                if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                    alert('Há campos que ainda precisam ser preenchidos');
                    return false;
                }
            }
            // Habilitar o botão de envio após a verificação do reCAPTCHA
            document.getElementById("submit").disabled = false;
            return true; // Permite o envio do formulário
        }
</script>
        <title>HANDS</title>
          <link rel="icon" type="image/x-icon" href="/logo.png">
    </head>
    <body>
        <!-- <div class="area-cadastro">
            <h3 class="titulo-1">Seja bem-vindo</h3>
            <h4 class="titulo-2">Crie uma conta</h4>
            <div class="progresso"></div>
            <div class="campos">
                <form action="../routes/auth.js/cadastro" method="POST">
                    <input type="text" name="nome" id="nome" placeholder="Nome" required>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" required>
                    <input class="date" type="date" name="dt_nascimento" id="dt_nascimento" placeholder="Data de nascimento" required>
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                    <input type="password" name="senha" id="senha" placeholder="Senha" required>
                    <input type="password" name="ConfirmarSenha" id="ConfirmarSenha" placeholder="Confirmação de senha" required>
                    <input type="submit" id="submit" class="btn-primary" value="Sign in"/>
                </div>
            </form>
            <footer>
                <p class="titulo-3">Já possuí uma conta? <a href="./login"><span class="login">Log in</span></a></p>
                <p class="titulo-3">Já possuí uma conta? <a href="./index.html"><span class="login">index</span></a></p>
                <br>
                <div class="ou">
                    <div class="linha"></div>
                      <p class="titulo-4">ou</p>
                    <div class="linha"></div>
                </div>
                <div class="redes">
                </div>
                <p class="titulo-5">Conecte-se com</p>
        </div> -->
        
            <div class="alert-text">
            {{#if success_msg}}
                <div id='success'class="alert alert-success">{{success_msg}}</div>
            {{/if}}
                {{#if error_msg}}
                <div id="erro" class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
            </div>
        <div class="area-cadastro">
            <div id="step0">
                    <input type="hidden" name="step" id="step" value="0">
                <svg class="hands" width="182" height="47" viewBox="0 0 182 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9937 1.05214C19.3976 1.79571 18.8045 4.2849 17.8389 10.0912C17.1064 14.4981 16.3709 18.3196 16.205 18.5835C15.5478 19.6267 15.254 17.195 15.2249 10.4769C15.1975 4.07048 15.1266 3.45238 14.341 2.75496C13.1706 1.71514 10.9098 1.83389 9.96009 2.98491C9.30755 3.77548 9.20834 4.85517 9.20834 11.168C9.20834 15.3407 9.0343 18.5458 8.79954 18.688C8.14314 19.0862 7.23061 17.2974 5.97855 13.1561C4.59991 8.59653 3.4509 7.19079 1.61942 7.82274C-0.469063 8.54365 -0.509687 9.78951 1.33676 16.5047C2.49646 20.7219 3.17081 22.5175 3.54199 22.3778C4.29416 22.0945 4.26124 21.8734 2.5311 15.6168C1.19608 10.7903 1.06565 9.9347 1.58692 9.42318C2.63843 8.39133 3.46886 9.60236 4.92618 14.2933C5.67922 16.7166 6.5956 19.03 6.96249 19.4337C7.82329 20.3804 8.89148 20.3678 9.78348 19.4005C10.3839 18.7497 10.4912 17.5471 10.4912 11.4793C10.4912 3.78262 10.6605 3.17039 12.7127 3.45573C13.6923 3.59211 13.6996 3.64078 13.9121 11.356C14.0297 15.6256 14.2816 19.3552 14.4719 19.6435C14.9996 20.4437 16.8195 20.2704 17.3083 19.3741C17.5464 18.9373 18.3551 14.9651 19.1051 10.5469C19.8547 6.12873 20.7065 2.19434 20.9973 1.8041C21.7811 0.752102 23.9192 1.56198 24.08 2.97107C24.145 3.54385 23.5258 7.59531 22.7035 11.9745C21.3497 19.1853 21.2689 20.0266 21.8466 20.8915C22.6308 22.066 23.9894 22.1273 24.6941 21.019C24.984 20.5642 26.1882 17.4161 27.3705 14.0235C28.647 10.361 29.8242 7.6721 30.2685 7.4048C31.3401 6.75942 32.4908 7.58817 32.6093 9.09042C32.7311 10.6367 27.6091 24.3626 26.706 24.9098C26.2074 25.2119 25.149 24.8921 22.6749 23.6924C18.7596 21.7936 15.1659 21.3984 9.68641 22.264C4.73119 23.0471 3.3115 23.729 2.82188 25.5619C1.57623 30.2239 1.92559 39.5424 3.45475 42.4445C4.48103 44.3916 5.85924 44.9618 12.0948 46.0193C24.3297 48.0935 24.9357 47.7914 32.428 35.8762C33.7437 33.7835 36.0811 30.6917 37.6222 29.0049C39.1633 27.3184 40.4244 25.7079 40.4244 25.4263C40.4244 24.3248 38.8632 23.525 36.7131 23.525C34.2825 23.525 32.6422 24.4973 29.3063 27.9151C26.8386 30.4433 25.5386 31.1063 23.6417 30.8042C19.4558 30.1378 13.018 32.5083 11.5743 35.2476C10.256 37.7498 10.0666 38.5429 10.7294 38.7921C11.1446 38.9487 11.5628 38.5164 12.0079 37.4699C13.5102 33.9421 16.5736 32.3891 22.4204 32.1906C26.7928 32.0421 26.8197 32.0295 31.5599 27.7695C34.6443 24.9979 35.0193 24.7839 36.7982 24.7839C39.044 24.7839 39.2711 25.389 37.5974 26.9139C35.7574 28.5903 33.0206 32.272 29.9803 37.1627C25.7084 44.0336 23.6507 45.8498 20.172 45.8196C19.1983 45.8112 15.7257 45.3282 12.4544 44.7462C5.71257 43.5465 4.94372 43.1101 4.02562 39.9654C3.39745 37.8127 3.3564 28.9512 3.96362 26.475C4.28732 25.1544 4.55758 24.9438 6.87141 24.2086C8.70931 23.6245 10.7366 23.3861 14.1259 23.3563L18.8297 23.3152L22.5342 25.133C27.9106 27.7708 27.6429 28.0192 31.8113 16.5173C33.355 12.2577 34.3155 8.99013 34.1551 8.54449C33.3281 6.25084 30.8419 5.22318 29.1161 6.46149C28.6598 6.78879 27.4081 9.70433 26.1078 13.4683C24.024 19.5004 22.8831 21.5591 22.8989 19.2587C22.9023 18.7203 23.4796 15.164 24.1814 11.356C24.8831 7.54789 25.4574 3.82584 25.4574 3.08478C25.4582 0.28842 21.7204 -1.10221 19.9937 1.05214ZM167.385 5.90759C162.313 6.74641 159.607 9.46598 159.607 13.7247C159.607 17.9768 162.28 20.6754 170.781 25.0075C172.509 25.8883 174.794 27.383 175.86 28.3293C177.559 29.8395 177.821 30.3057 177.999 32.1378C178.166 33.8595 178.031 34.4365 177.232 35.4301C173.914 39.5554 166.064 38.1212 162.729 32.7806C162.144 31.8445 161.567 31.0791 161.446 31.0803C161.325 31.0816 160.671 31.5184 159.993 32.0509C158.871 32.9321 158.808 33.1125 159.306 34.0424C161.468 38.0821 165.748 40.6939 170.786 41.0476C174.588 41.3145 177.412 40.4274 179.509 38.3087C182.342 35.4482 182.754 32.2351 180.768 28.5051C179.367 25.8741 177.276 24.2023 171.652 21.2171C164.55 17.4476 162.793 15.668 163.341 12.799C164.1 8.8269 169.984 7.74553 177.081 10.2738L179.828 11.2519V9.43199V7.61167L177.583 6.9558C175.509 6.35029 173.978 6.07753 170.634 5.71959C169.928 5.64406 168.466 5.72883 167.385 5.90759ZM47.6939 23.5502V41.1999L49.2974 41.0694L50.901 40.9394L51.1148 34.4919L51.3286 28.0443L59.0257 23.9119C63.2591 21.6392 66.864 19.7727 67.0363 19.7639C67.2086 19.7555 67.401 24.5166 67.4639 30.3439L67.5781 40.9394H69.0747H70.5714L70.683 23.4201L70.7946 5.90087H69.0794H67.3643V10.8885V15.8761L59.4174 20.1202C55.0463 22.4546 51.3902 24.3643 51.2927 24.3643C51.1948 24.3643 51.1148 20.21 51.1148 15.1326V5.90087H49.4044H47.6939V23.5502ZM84.061 7.89408C83.819 8.75976 81.6296 16.4544 79.196 24.9937L74.7719 40.5197L76.458 40.6511C77.385 40.7232 78.2347 40.6926 78.3463 40.5835C78.602 40.3322 81.4491 30.7274 84.9286 18.3779C86.4086 13.1238 87.759 8.96957 87.9297 9.14623C88.0998 9.32289 89.3806 13.5275 90.7754 18.4895L93.3116 27.5114L89.6564 27.7212C86.2012 27.9197 85.9849 27.9885 85.7052 28.9801C85.1181 31.0619 85.0834 31.0434 89.8894 31.1689L94.4547 31.288L95.7273 36.0088L97.0003 40.7295H98.8591C99.882 40.7295 100.718 40.5361 100.718 40.2999C100.718 40.0636 98.6017 32.4034 96.0146 23.2774C93.4275 14.1515 91.3108 6.60248 91.3108 6.50261C91.3108 6.40232 89.7787 6.32049 87.9066 6.32049H84.5019L84.061 7.89408ZM104.567 23.525V40.7295H106.428H108.29L108.537 36.848C109.163 27.0217 114.737 15.8749 120.813 12.3001C122.087 11.5502 123.283 10.9363 123.47 10.9363C123.657 10.9363 123.81 17.6398 123.81 25.8329V40.7295H125.734H127.658V23.468V6.20635L125.721 6.46694C120.242 7.2038 113.405 12.8788 110.178 19.3682L108.424 22.8956L108.419 14.608L108.416 6.32049H106.491H104.567V23.525ZM132.362 23.4797V40.7295H134.286H136.211V24.9454V9.16134L138.669 9.45088C143.513 10.0211 147.14 12.4151 149.123 16.349C149.978 18.0464 150.096 18.9134 150.096 23.525C150.096 28.1681 149.982 28.9969 149.102 30.7442C147.619 33.69 144.876 35.9626 141.786 36.8056C139.263 37.4938 139.204 37.5433 139.204 38.9646V40.419L141.067 40.213C142.092 40.0997 143.996 39.5277 145.299 38.9424C151.39 36.206 154.582 29.8924 154.049 21.6367C153.739 16.832 152.455 13.8011 149.501 10.9028C146.17 7.63433 143.478 6.65367 137.173 6.41323L132.362 6.22985V23.4797Z" fill="black"/>
                </svg>
                <div class="balao">
                    <div class="conversa">
                        <div class="texto" id="texto1"></div>
                        <div class="texto" id="texto2"></div>
                    </div>
                    <button id="btn-cadastro" onclick="startRegistration()">Vamos lá!</button>
                    <script>
                        // Função para exibir o botão após 105ms
                        function exibirBotao() {
                            const botao = document.getElementById('btn-cadastro');
                            botao.style.transition = '.5s ease'; // Exibir o botão
                            botao.style.display = 'block'; // Exibir o botão
                        }
                
                        // Agendar a chamada da função após 105ms
                        setTimeout(exibirBotao, 500);
                    </script>
                    <p class="titulo-2">Já possuí uma conta? <a href="/"><span class="login">Log in</span></a></p>
                </div>
                <img class="liz" src="/lis-oi-redi.png" alt="imagem da personagem principal do sistema dando oi">
            </div>
            
            <div id="step1" name="step1" class="hidden">
                <header>
                    <svg class="hands" width="182" height="47" viewBox="0 0 182 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9937 1.05214C19.3976 1.79571 18.8045 4.2849 17.8389 10.0912C17.1064 14.4981 16.3709 18.3196 16.205 18.5835C15.5478 19.6267 15.254 17.195 15.2249 10.4769C15.1975 4.07048 15.1266 3.45238 14.341 2.75496C13.1706 1.71514 10.9098 1.83389 9.96009 2.98491C9.30755 3.77548 9.20834 4.85517 9.20834 11.168C9.20834 15.3407 9.0343 18.5458 8.79954 18.688C8.14314 19.0862 7.23061 17.2974 5.97855 13.1561C4.59991 8.59653 3.4509 7.19079 1.61942 7.82274C-0.469063 8.54365 -0.509687 9.78951 1.33676 16.5047C2.49646 20.7219 3.17081 22.5175 3.54199 22.3778C4.29416 22.0945 4.26124 21.8734 2.5311 15.6168C1.19608 10.7903 1.06565 9.9347 1.58692 9.42318C2.63843 8.39133 3.46886 9.60236 4.92618 14.2933C5.67922 16.7166 6.5956 19.03 6.96249 19.4337C7.82329 20.3804 8.89148 20.3678 9.78348 19.4005C10.3839 18.7497 10.4912 17.5471 10.4912 11.4793C10.4912 3.78262 10.6605 3.17039 12.7127 3.45573C13.6923 3.59211 13.6996 3.64078 13.9121 11.356C14.0297 15.6256 14.2816 19.3552 14.4719 19.6435C14.9996 20.4437 16.8195 20.2704 17.3083 19.3741C17.5464 18.9373 18.3551 14.9651 19.1051 10.5469C19.8547 6.12873 20.7065 2.19434 20.9973 1.8041C21.7811 0.752102 23.9192 1.56198 24.08 2.97107C24.145 3.54385 23.5258 7.59531 22.7035 11.9745C21.3497 19.1853 21.2689 20.0266 21.8466 20.8915C22.6308 22.066 23.9894 22.1273 24.6941 21.019C24.984 20.5642 26.1882 17.4161 27.3705 14.0235C28.647 10.361 29.8242 7.6721 30.2685 7.4048C31.3401 6.75942 32.4908 7.58817 32.6093 9.09042C32.7311 10.6367 27.6091 24.3626 26.706 24.9098C26.2074 25.2119 25.149 24.8921 22.6749 23.6924C18.7596 21.7936 15.1659 21.3984 9.68641 22.264C4.73119 23.0471 3.3115 23.729 2.82188 25.5619C1.57623 30.2239 1.92559 39.5424 3.45475 42.4445C4.48103 44.3916 5.85924 44.9618 12.0948 46.0193C24.3297 48.0935 24.9357 47.7914 32.428 35.8762C33.7437 33.7835 36.0811 30.6917 37.6222 29.0049C39.1633 27.3184 40.4244 25.7079 40.4244 25.4263C40.4244 24.3248 38.8632 23.525 36.7131 23.525C34.2825 23.525 32.6422 24.4973 29.3063 27.9151C26.8386 30.4433 25.5386 31.1063 23.6417 30.8042C19.4558 30.1378 13.018 32.5083 11.5743 35.2476C10.256 37.7498 10.0666 38.5429 10.7294 38.7921C11.1446 38.9487 11.5628 38.5164 12.0079 37.4699C13.5102 33.9421 16.5736 32.3891 22.4204 32.1906C26.7928 32.0421 26.8197 32.0295 31.5599 27.7695C34.6443 24.9979 35.0193 24.7839 36.7982 24.7839C39.044 24.7839 39.2711 25.389 37.5974 26.9139C35.7574 28.5903 33.0206 32.272 29.9803 37.1627C25.7084 44.0336 23.6507 45.8498 20.172 45.8196C19.1983 45.8112 15.7257 45.3282 12.4544 44.7462C5.71257 43.5465 4.94372 43.1101 4.02562 39.9654C3.39745 37.8127 3.3564 28.9512 3.96362 26.475C4.28732 25.1544 4.55758 24.9438 6.87141 24.2086C8.70931 23.6245 10.7366 23.3861 14.1259 23.3563L18.8297 23.3152L22.5342 25.133C27.9106 27.7708 27.6429 28.0192 31.8113 16.5173C33.355 12.2577 34.3155 8.99013 34.1551 8.54449C33.3281 6.25084 30.8419 5.22318 29.1161 6.46149C28.6598 6.78879 27.4081 9.70433 26.1078 13.4683C24.024 19.5004 22.8831 21.5591 22.8989 19.2587C22.9023 18.7203 23.4796 15.164 24.1814 11.356C24.8831 7.54789 25.4574 3.82584 25.4574 3.08478C25.4582 0.28842 21.7204 -1.10221 19.9937 1.05214ZM167.385 5.90759C162.313 6.74641 159.607 9.46598 159.607 13.7247C159.607 17.9768 162.28 20.6754 170.781 25.0075C172.509 25.8883 174.794 27.383 175.86 28.3293C177.559 29.8395 177.821 30.3057 177.999 32.1378C178.166 33.8595 178.031 34.4365 177.232 35.4301C173.914 39.5554 166.064 38.1212 162.729 32.7806C162.144 31.8445 161.567 31.0791 161.446 31.0803C161.325 31.0816 160.671 31.5184 159.993 32.0509C158.871 32.9321 158.808 33.1125 159.306 34.0424C161.468 38.0821 165.748 40.6939 170.786 41.0476C174.588 41.3145 177.412 40.4274 179.509 38.3087C182.342 35.4482 182.754 32.2351 180.768 28.5051C179.367 25.8741 177.276 24.2023 171.652 21.2171C164.55 17.4476 162.793 15.668 163.341 12.799C164.1 8.8269 169.984 7.74553 177.081 10.2738L179.828 11.2519V9.43199V7.61167L177.583 6.9558C175.509 6.35029 173.978 6.07753 170.634 5.71959C169.928 5.64406 168.466 5.72883 167.385 5.90759ZM47.6939 23.5502V41.1999L49.2974 41.0694L50.901 40.9394L51.1148 34.4919L51.3286 28.0443L59.0257 23.9119C63.2591 21.6392 66.864 19.7727 67.0363 19.7639C67.2086 19.7555 67.401 24.5166 67.4639 30.3439L67.5781 40.9394H69.0747H70.5714L70.683 23.4201L70.7946 5.90087H69.0794H67.3643V10.8885V15.8761L59.4174 20.1202C55.0463 22.4546 51.3902 24.3643 51.2927 24.3643C51.1948 24.3643 51.1148 20.21 51.1148 15.1326V5.90087H49.4044H47.6939V23.5502ZM84.061 7.89408C83.819 8.75976 81.6296 16.4544 79.196 24.9937L74.7719 40.5197L76.458 40.6511C77.385 40.7232 78.2347 40.6926 78.3463 40.5835C78.602 40.3322 81.4491 30.7274 84.9286 18.3779C86.4086 13.1238 87.759 8.96957 87.9297 9.14623C88.0998 9.32289 89.3806 13.5275 90.7754 18.4895L93.3116 27.5114L89.6564 27.7212C86.2012 27.9197 85.9849 27.9885 85.7052 28.9801C85.1181 31.0619 85.0834 31.0434 89.8894 31.1689L94.4547 31.288L95.7273 36.0088L97.0003 40.7295H98.8591C99.882 40.7295 100.718 40.5361 100.718 40.2999C100.718 40.0636 98.6017 32.4034 96.0146 23.2774C93.4275 14.1515 91.3108 6.60248 91.3108 6.50261C91.3108 6.40232 89.7787 6.32049 87.9066 6.32049H84.5019L84.061 7.89408ZM104.567 23.525V40.7295H106.428H108.29L108.537 36.848C109.163 27.0217 114.737 15.8749 120.813 12.3001C122.087 11.5502 123.283 10.9363 123.47 10.9363C123.657 10.9363 123.81 17.6398 123.81 25.8329V40.7295H125.734H127.658V23.468V6.20635L125.721 6.46694C120.242 7.2038 113.405 12.8788 110.178 19.3682L108.424 22.8956L108.419 14.608L108.416 6.32049H106.491H104.567V23.525ZM132.362 23.4797V40.7295H134.286H136.211V24.9454V9.16134L138.669 9.45088C143.513 10.0211 147.14 12.4151 149.123 16.349C149.978 18.0464 150.096 18.9134 150.096 23.525C150.096 28.1681 149.982 28.9969 149.102 30.7442C147.619 33.69 144.876 35.9626 141.786 36.8056C139.263 37.4938 139.204 37.5433 139.204 38.9646V40.419L141.067 40.213C142.092 40.0997 143.996 39.5277 145.299 38.9424C151.39 36.206 154.582 29.8924 154.049 21.6367C153.739 16.832 152.455 13.8011 149.501 10.9028C146.17 7.63433 143.478 6.65367 137.173 6.41323L132.362 6.22985V23.4797Z" fill="black"/>
                    </svg>
                </header>
                {{!-- <div class="row"> --}}
                    {{!-- <div class="fixed1">
                        <div class="fixed">
                            <div class="balao">
                                <div class="texto" id="texto3"></div>
                            </div> <br>
                            <img src="/lis-oi-redi.png" alt="imagem da personagem principal do sistema dando oi">
                        </div>
                    </div> --}}
                        <div class="txt-center">
                        <h1 class="titulo-1">Crie uma <span class="cinza">conta</span></h1>
                    </div>
                    <div class="areacadastro">
                        
                    <form id="Form" name="step" value="1" action="/auth/cadastro" method="POST" required>
                            <div class="row">
                                <div class="passo1">
                            <p class="titulo-1">Primeiro passo</p>
                            {{!-- <label for="nome" id="nome">Nome:</label> --}}
                <form id="Form" action="/auth/cadastro" method="POST" required>
                            <div class="passo1">
                                <p class="titulo-1">1º Passo</p>
                                {{!-- <label for="nome" id="nome">Nome:</label> --}}
                            <input class="input" type="text" name="nome" id="name" placeholder="Nome" required> 
                            {{!-- <label for="sobrenome">Sobrenome:</label> --}}
                            <input class="input" type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" required>
                            <div class="back">
                                <svg width="434" height="361" viewBox="0 0 434 361" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#16F1FF"/>
                                <ellipse cx="49.5" cy="328" rx="39.5" ry="33" fill="#16B0FF"/>
                                <ellipse cx="283.5" cy="83" rx="39.5" ry="33" fill="#16B0FF"/>
                                <ellipse cx="352" cy="215.5" rx="82" ry="79.5" fill="#16B0FF"/>
                                <ellipse cx="377.5" cy="33" rx="39.5" ry="33" fill="#16B0FF"/>
                                <ellipse cx="99.5" cy="288" rx="39.5" ry="33" fill="#16F1FF"/>
                                </svg>
                            </div>
                            </div>
                            <svg class="line-dash" width="423" height="238" viewBox="0 0 423 238" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.1238 74.5591C13.1943 80.5782 19.5558 88.3058 27.7439 94.3723C44.6969 106.933 67.0723 120.56 88.8387 123.971C98.0786 125.42 110.747 124.577 119.347 123.61C142.734 120.979 166.991 116.784 188.444 108.201C204.377 101.827 211.354 90.8451 217.137 76.5245C224.655 57.9064 229.765 30.5065 209.414 15.1719C202.961 10.3103 194.073 7.22173 186.039 6.02073C174.334 4.27068 163.767 9.85918 156.381 17.4763C149.632 24.4368 145.924 34.3878 143.496 43.3795C139.885 56.7567 142.668 68.9601 148.757 81.7901C160.046 105.576 181.587 136.821 211.226 143.409C228.885 147.334 246.168 144.068 263.568 142.277C290.046 139.55 320.851 137.93 346.561 147.764C375.995 159.022 401.723 185.262 412.509 212.465C414.866 218.411 415.489 224.579 416.753 230.682C417.064 232.186 416.956 231.679 417.864 232.213" stroke="url(#paint0_linear_252_249)" stroke-width="10" stroke-linecap="round" stroke-dasharray="20 20"/>
                            <defs>
                            <linearGradient id="paint0_linear_252_249" x1="244.034" y1="19.9102" x2="204.932" y2="180.302" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#16B0FF"/>
                            <stop offset="1" stop-color="#FF6D9C"/>
                            </linearGradient>
                            </defs>
                            </svg>
                            </div>
                           <div class="row">
                             <div class="passo2">
                            <p class="titulo-1">Segundo passo</p>
                            <label class="nascimento" for="nascimento">Data de nascimento:</label>
                            <input class="input" type="date" name="dt_nascimento" id="dt_nascimento" placeholder="Data de nascimento" required maxlength="10" min="1930-01-01" max="2024-04-29"> 
                            {{!-- <label for="email">Email:</label> --}}
                            <input class="input" type="email" name="email" id="email" placeholder="E-mail" required>
                            <div class="back">
                                <svg width="434" height="361" viewBox="0 0 434 361" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#FF0052"/>
                                <ellipse cx="49.5" cy="328" rx="39.5" ry="33" fill="#FF6D9C"/>
                                <ellipse cx="283.5" cy="83" rx="39.5" ry="33" fill="#FF6D9C"/>
                                <ellipse cx="352" cy="215.5" rx="82" ry="79.5" fill="#FF6D9C"/>
                                <ellipse cx="377.5" cy="33" rx="39.5" ry="33" fill="#FF6D9C"/>
                                <ellipse cx="99.5" cy="288" rx="39.5" ry="33" fill="#FF6D9C"/>
                                </svg>
                            </div>
                            </div>
                            <svg width="333" height="304" viewBox="0 -20 333 304" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 298.927C32.5714 298.927 66.5851 272.205 86.0441 255.443C128.541 218.837 132.905 158.587 150.042 108.235C167.553 56.7813 188.962 25.2865 244.087 11.2995C271.158 4.43078 299.943 3.10449 327.443 7.68788" stroke="url(#paint0_linear_252_257)" stroke-width="10" stroke-linecap="round" stroke-dasharray="20 20"/>
                            <defs>
                            <linearGradient id="paint0_linear_252_257" x1="166.221" y1="5" x2="166.221" y2="298.927" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF6D9C"/>
                            <stop offset="1" stop-color="#02F2CA"/>
                            </linearGradient>
                            </defs>
                            </svg>
                           </div>
                            <div class="passo3">
                            <p class="titulo-1">Terceiro passo</p>
                            <input class="input" type="password" name="senha" id="senha" placeholder="Senha" required>
                            {{!-- <label for="confirmarSenha">Confirmar Senha:</label> --}}
                            <input class="input" type="password" name="Confir_Senha" id="confirmarSenha" placeholder="Confirmação de senha" required>
                            <div class="back">
                                <svg width="981" height="402" viewBox="0 0 981 402" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="597" cy="157" r="50" fill="#00B496"/>
                                <ellipse cx="830.5" cy="190" rx="39.5" ry="33" fill="#02F2CA"/>
                                <ellipse cx="899" cy="322.5" rx="82" ry="79.5" fill="#02F2CA"/>
                                <ellipse cx="269.5" cy="217.5" rx="68.5" ry="70.5" fill="#00FFD5"/>
                                <ellipse cx="924.5" cy="140" rx="39.5" ry="33" fill="#02F2CA"/>
                                <ellipse cx="891.5" cy="74" rx="39.5" ry="33" fill="#00B496"/>
                                <circle cx="50" cy="50" r="50" fill="#00B496"/>
                                <ellipse cx="49.5" cy="328" rx="39.5" ry="33" fill="#02F2CA"/>
                                <ellipse cx="283.5" cy="83" rx="39.5" ry="33" fill="#02F2CA"/>
                                <ellipse cx="481" cy="294.5" rx="82" ry="79.5" fill="#02F2CA"/>
                                <ellipse cx="377.5" cy="33" rx="39.5" ry="33" fill="#02F2CA"/>
                                <ellipse cx="99.5" cy="288" rx="39.5" ry="33" fill="#00B496"/>
                                </svg>
                            </div>
                            </div>
                            {{!-- <label for="senha">Senha:</label> --}}
                            {{!-- <input type="hidden" name="step" id="step"value="1"> --}}
                            <svg width="212" height="163" viewBox="0 0 212 163" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.37693 5C5.37693 22.2195 2.11692 43.1925 14.7716 56.9444C40.6414 85.0574 74.6118 97.1617 110.765 107.708C138.604 115.829 207 117.235 207 158" stroke="url(#paint0_linear_253_305)" stroke-width="10" stroke-linecap="round" stroke-dasharray="20 20"/>
                            <defs>
                            <linearGradient id="paint0_linear_253_305" x1="106" y1="5" x2="106" y2="158" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#02F2CA"/>
                            <stop offset="1" stop-color="#FFB905"/>
                            </linearGradient>
                            </defs>
                            </svg>
                            <div class="passo4">
                            <p class="titulo-1">Quarto passo</p>
                            <div class="row1">
                                <input class="check" type="checkbox" id="termos_uso" name="termos_uso" required>
                                <label for="termos">Eu concordo com os termos de uso</label>
                                <a class="termos" href="/termos-uso">termos de uso</a>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LcW8X4pAAAAAKHfmywUcAyarIYi5RwVY7DVPP20" data-callback="onSubmit">
                            </div>
                            <input class="button" type="submit" id="submit" class="btn-primary" value="Sign in"/> <br><br><br>
                            <div class="back">
                                <svg width="982" height="347" viewBox="0 0 982 347" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="708" cy="281" r="50" fill="#FFB905"/>
                                <ellipse cx="942.5" cy="314" rx="39.5" ry="33" fill="#FFB905"/>
                                <circle cx="50" cy="281" r="50" fill="#FFB905"/>
                                <ellipse cx="374.5" cy="305" rx="39.5" ry="33" fill="#FC9404"/>
                                <circle cx="615" cy="83" r="50" fill="#FFB905"/>
                                <ellipse cx="848.5" cy="116" rx="39.5" ry="33" fill="#FFBB5D"/>
                                <ellipse cx="307.5" cy="152" rx="88.5" ry="79" fill="#FFB905"/>
                                <ellipse cx="942.5" cy="66" rx="39.5" ry="33" fill="#FFBB5D"/>
                                <ellipse cx="924.5" cy="42" rx="39.5" ry="33" fill="#FFB905"/>
                                <circle cx="68" cy="50" r="50" fill="#FFB905"/>
                                <ellipse cx="356.5" cy="33" rx="39.5" ry="33" fill="#FC9404"/>
                                </svg>
                            </div>
                            </div>
                    </form>
                    </div>
    </body>
</html>
