<!-- views/commenter.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Comentários</title>
  <style>
    .comment-form, .reply-form {
      margin: 20px 0;
    }
    .comment {
      margin: 20px 0;
    }
    .replies {
      margin-left: 40px;
    }
  </style>
</head>
<body>
  <div>
    {{>comment_input}}
  </div>
  <div>
</body>
</html>
