<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cadastro.css">
  <title>Document</title>
</head>
<body>
   <div class="alert-text">
            {{#if success_msg}}
                <div id='success'class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
                <div id="erro" class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
        </div>
      <div class="campos">  
        <h2 class="titulo-2">Deseja excluir sua conta?</h2>
        <form class="loginForm" action="/auth/delete" method="post">
        <input type="password" name="senha_usu" placeholder="Senha" required/>
          <button type="submit" class="button">Excluir Conta</button>
        </form>
      </div>
</body>
<script src="/modal.js"></script>
</html>