<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdfasdfasd</title>
    <link rel="stylesheet" href="/h.css">
</head>
<body>
    <h2>quiz</h2>
    <main>
        <div class="content">
            <span class="spnQtd"></span>
            <div class="question"></div>
            <img class="svg-image" src="" alt="SVG">
            <div class="answers"></div>
        </div>
        <div class="finish">
            <span></span>
            <button class="btnRestart">Reiniciar</button>
            <a href="/index">Voltar a Home</a>
        </div>
    </main>
<script src="./questionario.js" type="module"></script>
</body>
</html>