<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <link rel="stylesheet" href="/cadastro.css">
        <link rel="stylesheet" href="/login.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0"></script>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
        <script>
            //script para masked
            window.onload = function() {
                var cpfField = document.getElementById('cpf');
                VMasker(cpfField).maskPattern("999.999.999-99");
            }
        </script>
        <script>
          setTimeout(function () {
        document.getElementById("erro").style.transitionDuration = ".3s"; 

              setTimeout(function () {
        document.getElementById("erro").style.opacity = "0"; // Define a opacidade como 0
    // Oculta o alerta após 2 segundos
                  setTimeout(function () {
        document.getElementById("erro").style.display = "none"; 
                  }, 300)
                        }, 500); // 500 milissegundos para a transição
                             }, 2000);
</script>
        <title>HANDS</title>
        <link rel="icon" type="image/x-icon" href="/logo.png">
    </head>
    <body>
            <div class="alert-text">
        {{#each erros}}
        <div class="alert alert-danger" id="erro">{{text}}</div>
         {{/each}}
        </div> 
        <div class="alert-text">
            {{#if success_msg}}
                <div id='success'class="alert alert-success">{{success_msg}}</div>
            {{/if}}
                {{#if error_msg}}
                <div id="erro" class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
            </div> 
          <div class="row">
              <div class="fixed1">
                <div class="fixed">
                    <div class="balao">
                        <div class="texto" id="texto1"></div>
                    </div> <br>
                    <img src="/lis-oi-redi.png" alt="imagem da personagem principal do sistema dando oi">
                </div>
                <script src="/lisLogin.js"></script>
            </div>
            <form id="Form" action="/auth/login" method="POST" required>
                <input class="input-block" type="email" name="email" id="" placeholder="E-mail">   
                <input class="input-block" type="password" name="senha" id="password"  placeholder="Senha" maxlength="20">
                <div id="icon" onclick="showHide()"></div>
                <input  class="button" type="submit" id= "submit" class="btn btn-primary"/>
                <p class="titulo-3">Não possui conta? <a href="/cadastro">Cadastre-se</a></p>
            </form>
            </div>
            <script src="/login.js"></script>
    </body>
</html>