<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/cadastro.css">
    <title>HANDS</title>
</head>
<body>
       <div class="balao2">
         <form action="/muda_senha" method="post">
            <label for="senha-atual">Senha Atual:</label>
            <input type="password" id="senha-atual" name="senhaAtual">
            <label for="nova-senha">Nova Senha:</label>
            <input type="password" id="nova-senha" name="novaSenha">
            <button type="submit">Mudar Senha</button>
        </form>
        <script src="/muda_senha.js"></script>
       </div>
</body>
</html>