<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/login.css">
  <title>Perfil</title>
</head>
  <script>
          setTimeout(function () {
        document.getElementById("success").style.transitionDuration = ".3s"; 
              setTimeout(function () {
        document.getElementById("success").style.opacity = "0"; // Define a opacidade como 0
                  setTimeout(function () {
        document.getElementById("success").style.display = "none"; 
                  }, 300)
                        }, 500); // 500 milissegundos para a transição
                             }, 2000);
</script>
        <script>
          setTimeout(function () {
        document.getElementById("erro").style.transitionDuration = ".3s"; 
              setTimeout(function () {
        document.getElementById("erro").style.opacity = "0"; // Define a opacidade como 0
                  setTimeout(function () {
        document.getElementById("erro").style.display = "none"; 
                  }, 300)
                        }, 500); // 500 milissegundos para a transição
                             }, 2000);
</script>
<body>
  <div class="alert-text">
            {{#if success_msg}}
                <div id='success'class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
                <div id="erro" class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
        </div>
  <h2>Perfil do Usuário</h2>
  <form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage" accept="image/*"required>
    <button type="submit">Atualizar Foto</button>
    </form><br><br>
    <form action="/profile-delete" method="post">
    <button type="submit">Excluir foto</button>
  </form>
</body>
</html>