<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/profile" method="POST" enctype="multipart/form-data">
                    <input id="escolha" type="file" name="file" accept="image/*">
                        <button type="submit">Troca de Perfil</button>
                    </form>
                      {{#if file.length}}
                    <ul>
                        {{#each file}}
                            <li>
                                {{#if image}} 
                                    <img src="{{ url }}" alt="{{ name }}" height="150px" width="280px">
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <p>Nenhum vídeo ou imagem encontrado nesta categoria 😔</p>
                {{/if}}        
</body>
</html>