<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANDS</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
</head>

<body>
    <style>
        /* Adicione seus estilos aqui. Exemplo simples abaixo: */
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        h1,
        h2 {
            color: #333;
        }

        p,
        li {
            line-height: 1.6;
            color: #666;
        }
    </style>
    <h1>Termos de Serviço do HANDS</h1>

    <h2>1. Introdução</h2>
    <p>Bem-vindo ao HANDS, seu curso online para aprender Libras. Ao utilizar nosso site e serviços, você concorda em
        estar vinculado pelos seguintes Termos de Serviço. Pedimos que os leia com atenção antes de prosseguir.</p>

    <h2>2. Elegibilidade</h2>
    <p>O HANDS é acessível a usuários de todas as idades. Menores de idade devem obter permissão de seus pais ou
        responsáveis legais antes de se registrarem ou acessarem o curso.</p>

    <h2>3. Descrição do Serviço</h2>
    <p>O HANDS oferece um ambiente de aprendizado online dedicado ao ensino da Língua Brasileira de Sinais (Libras).
        Nosso serviço inclui módulos de aprendizado, videoaulas, exercícios interativos, avaliações e materiais de
        suporte, todos projetados para facilitar a comunicação efetiva com a comunidade surda e promover a inclusão.</p>

    <h2>4. Registro e Conta</h2>
    <p>Para acessar certos recursos do curso, pode ser necessário se registrar e criar uma conta no HANDS. Ao fazer
        isso, você se compromete a fornecer informações verdadeiras, precisas e completas, e a atualizar essas
        informações conforme necessário. A responsabilidade pela segurança da senha e pela atividade da conta recai
        sobre o usuário.</p>

    <h2>5. Pagamento</h2>
    <p>O HANDS oferece conteúdos tanto gratuitos quanto pagos. As taxas aplicáveis às partes pagas do serviço, as opções
        de pagamento e as políticas de reembolso serão claramente comunicadas no site. O pagamento é exigido para
        acessar certos conteúdos ou recursos avançados do curso.</p>

    <h2>6. Direitos de Propriedade Intelectual</h2>
    <p>O conteúdo fornecido no HANDS, incluindo textos, gráficos, vídeos, design do site e materiais didáticos, é de
        propriedade exclusiva do HANDS ou de seus licenciantes e está protegido por direitos autorais e outras leis de
        propriedade intelectual. Qualquer uso não autorizado do conteúdo é expressamente proibido.</p>

    <h2>7. Política de Cancelamento e Reembolso</h2>
    <p>Usuários que desejam cancelar sua inscrição em partes pagas do curso podem ser elegíveis para um reembolso, desde
        que a solicitação seja feita dentro de um prazo especificado após a compra. Detalhes completos sobre a política
        de cancelamento e reembolso estarão disponíveis no site.</p>

    <h2>8. Limitação de Responsabilidade</h2>
    <p>O HANDS se esforça para oferecer um serviço de alta qualidade, mas não pode garantir que o serviço estará livre
        de interrupções ou erros. Não nos responsabilizamos por quaisquer danos resultantes do uso ou da incapacidade de
        usar nosso serviço, dentro do máximo permitido por lei.</p>

    <h2>9. Modificações nos Termos de Serviço</h2>
    <p>O HANDS reserva-se o direito de modificar estes Termos de Serviço a qualquer momento. As alterações entrarão em
        vigor imediatamente após a publicação no site. Ao continuar a usar o serviço após tais modificações, você
        concorda em estar vinculado aos termos alterados.</p>

    <h2>10. Contato</h2>
    <p>Para perguntas ou preocupações sobre estes Termos de Serviço, entre em contato conosco através do nosso site.</p>

    <p>Ao utilizar o HANDS, você confirma que leu, entendeu e concorda em estar vinculado por estes Termos de Serviço.
        Se não concordar com estes termos, por favor, não acesse nem utilize o HANDS.</p>
</body>

</html>