<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uploads</title>
</head>
<body>
      <form action="/posts" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept="video/*">
  <select name="categoria">
    <option value="alfa">Alfabetização</option>
    <option value="sinais">Sinais</option>
    <option value="animais">Animais</option>
    <!-- Adicione mais opções conforme necessário -->
  </select>
    <select name="nivel">
    <option value="Iniciante">Básico</option>
    <option value="Intermediario">Intermediario</option>
    <option value="Expert">Avancado</option>
    <!-- Adicione mais opções conforme necessário -->
  </select>
  <button type="submit">Enviar</button>
</form>
</body>
</html>