.pesq {
  width: 100%;
  height: 40px;
  /* background: linear-gradient(90deg, #ADECFA, #16B0FF); */
  background-color: #fff3e1;
  margin-bottom: 2.5vh;
  border-radius: 10vh;
  display: flex;
  overflow: hidden;
}

.icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: #FFBB5E;
  height: 40px;
  width: 40px;
  border-radius: 100vh;
  position: absolute;
}

/* .banner {
  width: 100%;
  height: 20vh;
  background-color: #f6f4e7;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.banner {
  width: 100%;
  height: 20vh;
  background-color: #f6f4e7;
  border-radius: 26px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  position: relative;
} */

.banner {
  margin-top: 3vh;
  margin-bottom: 13vh;
  display: flex;
  flex-direction: row;
  gap: 40px;
  position: relative;
}

.esquerda {
  width: 50%;
}

.esquerda .liz {
  position: absolute;
  top: -50px;
  right: -20px;
}

.direita {
  width: 100%;
}

.direita > h3 {
  margin-left: 50%;
  display: flex;
  text-align: right;
}

.banner-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.banner-1 .titulo-2 {
  filter: drop-shadow(10px 30px 2.3rem  #ff9500);
}

.banner-1 > div img {
  width: 180px;
  filter: drop-shadow(10px 30px 4rem  #ff9500);
}

.banner-1 div {
  position: relative;
}

.banner-1 div svg {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.btn-aula-teste {
  color: #594A3F;
  padding: 8px 15px;
  border-radius: 10vh;
  background-color: #fff;
  filter: drop-shadow(10px 30px 2.3rem  #ff9500);
}

.categorias {
  position: relative;
}

#container-slider {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;
  height: 15vh;
}

.carousel {
  width: 100%;
}

.wrapper{
  display: flex;
  position: absolute;
  margin-left: 2vh;
  margin-right: 2vh;
  z-index: 3;
  overflow: hidden;
  width: 100%;
}

.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

@media screen and (max-width: 900px) {
.carousel .item{
  width: calc(100% / 4.6);
}
}

@media screen and (max-width: 550px) {
.carousel .item{
  width: 100% calc(100% / 4.6);
}
}

.carousel.dragging img{
  pointer-events: none;
}

.carousel {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}

.carousel .item {
  display: inline-block;
  margin: 1vh;
  margin-right: 2vh;
  object-fit: contain;
  user-select: none;
  width: calc(100% / 4.6);
  border-radius: 25px;
}

.wrapper .carousel .item p {
  font-size: 14px;
  color: #989696;
  margin-top: 1.5vh;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5vh;
  height: 7.5vh;
  background-color: #F6F4E7;
  border-radius: 100%;
}

.premium-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.laranja {
  color: #a76303d8;
}

.centralizado {
  color: #594A3F;
}

section {
  position: relative;
  padding-bottom: 50px;
}

.FC9404 {
  width: 60px;
  height: 60px;
  background-color: #fc9504cb;
  border-radius: 100%;
  position: absolute;
  filter: blur(2rem);
  top: 15px;
  left: 60px;
  z-index: -1;
}

/* .FC9404-2 {
  width: 60px;
  height: 60px;
  background-color: #fc9504c7;
  border-radius: 100%;
  position: absolute;
  filter: blur(2rem);
  top: 140px;
  right: 40px;
  z-index: -1;
} */

.FC9404-3 {
  width: 70px;
  height: 70px;
  background-color: #fc9504ab;
  border-radius: 100%;
  position: absolute; 
  filter: blur(2rem);
  top: 0px;
  right: 0px;
  z-index: -1;
}

.FFB905 {
  width: 80px;
  height: 80px;
  background-color: #ffb805b2;
  border-radius: 100%;
  position: absolute;
  top: 270px;
  filter: blur(2rem);
  right: -10px;
  z-index: -1;
}

.FFB905-2 {
  width: 50px;
  height: 50px;
  background-color: #FFB905;
  border-radius: 100%;
  position: absolute; 
  filter: blur(1.7rem);
  top: -10px;
  left: 0px;
  z-index: -1;
}

.background svg{
  position: absolute;
  left: 20px;
}