.pesq {
  width: 100%;
  height: 40px;
  /* background: linear-gradient(90deg, #ADECFA, #16B0FF); */
  background-color: #EFFFE5;
  margin-bottom: 2.5vh;
  border-radius: 10vh;
  display: flex;
  overflow: hidden;
}

.icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: #00BD9E;
  height: 40px;
  width: 40px;
  border-radius: 100vh;
  position: absolute;
}

.banner {
  width: 100%;
  height: 20vh;
  background-color: #f6f4e7;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.banner-1 {
  width: 100%;
  height: 20vh;
  background-color: #f6f4e7;
  border-radius: 26px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  position: relative;
}

.banner-1 image {
  opacity: 81%;
}

.banner-2 img {
  opacity: 91%;
}

.banner-1 .btn-com {
  width: 9vh;
  height: 3vh;
  font-size: 1.5vh;
  border-radius: 10vh;
  background-color: #fff;
  padding: 3px, 5px;
  color: #000;
  position: absolute;
  top: 2vh;
  right: 5.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-2 {
  width: 100%;
  height: 25vh;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2vh;
  box-shadow: 0 0 30px 0px #0000007c;
  position: relative;
  margin-bottom: 20px;
}

.banner-2 .btn-ass {
  width: 14vh;
  height: 3vh;
  border-radius: 10vh;
  font-size: 1.5vh;
  background:linear-gradient(90deg, #FEBB13, #FD9605);
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 7.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-2 img {
  height: 21vh;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

#container-slider {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;
  height: 15vh;
}

.carousel {
  width: 100%;
}

.wrapper{
  display: flex;
  position: absolute;
  margin-left: 2vh;
  margin-right: 2vh;
  z-index: 3;
  overflow: hidden;
  width: 100%;
}

.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

@media screen and (max-width: 900px) {
.carousel .item{
  width: calc(100% / 4.6);
}
}

@media screen and (max-width: 550px) {
.carousel .item{
  width: 100% calc(100% / 4.6);
}
}

.carousel.dragging img{
  pointer-events: none;
}

.carousel {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}

.carousel .item {
  display: inline-block;
  margin: 1vh;
  margin-right: 2vh;
  object-fit: contain;
  user-select: none;
  width: calc(100% / 4.6);
  border-radius: 25px;
}

.wrapper .carousel .item p {
  font-size: 14px;
  color: #989696;
  margin-top: 1.5vh;
}

.carousel img{
  height: 9vh;
  width: 9vh;
  background-color: #F6F4E7;
  overflow: hidden;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5vh;
  height: 7.5vh;
  background-color: #F6F4E7;
  border-radius: 100%;
}

.premium-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#container-slider {
  font-family: inika-bold;
}