* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.atividades {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert.alert-success {
    color: #000000;
    background-color: #d7f8dc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
.alert.alert-danger {
    color: #000000;
    background-color: #d3503e;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body h2 {
    color: #000000;
}

.line-dash {
    position: absolute;
    z-index: -1;
    transform: scale(-1);
    top: 30vh;
 }

main {
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-align: center;
    font-weight: 700;
}

.content img {
    border-radius: 4vh;
}

main .success-gif {
    border-radius: 4vh;
    transition: .5s ease-in-out;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.answers button{
    width: 190px;
    height: 70px;
    border: none;
    border-radius: 15px;
    background-color: #ff9d00;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.btnRestart {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9d00;
    color: #fff;
}

.finish a {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9d00;
    color: #fff;
    text-decoration: none;
}

.finish {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(70px);
}

.finish button, .finish span{
    width: 70%;
    text-align: center;
}

.row-atv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

