* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding-top: 50px;
    overflow-x: hidden;
}

.background {
    position: absolute;
    width: 110%;
    height: 300vh;
    left: -10px;
    top: -190px;
    z-index: -1;
    opacity: .3;
}

.titulo-1 {
     /* font-family: kumbh-bold; */
    font-size: 75px;
}

.titulo-2 {
     /* font-family: kumbh-regular; */ 
     font-weight: 300;
    font-size: 25px;
    color: #68584c;
}

.titulo-3 {
     /* font-family: kumbh-light; */
    font-size: 50px;
    color: #77787C;
    font-weight: 100;
}

.titulo-4 {
     /* font-family: kumbh-light; */
    font-size: 55px;
    font-weight: 200;
}

.titulo-5 {
    font-size: 45px;
    font-weight: 600;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.bannerAulas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 10vh;
    width: 80%;
    backdrop-filter: blur(200px);
    padding: 40px;
    border-radius: 10vh;
    position: relative;
    z-index: 7;
    background:radial-gradient( #08d4784b, #ffffff) ;
    position: relative;
}
  
  .bannerAulas:after {
    content:"";
    width: 280px;
    height: 0px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    top: -3px;
    left: 35%;
}

.verdeAulas {
    color: #135c6ce0;
}

.progresso {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nivel-porcentagem-atividade {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.aula-teste {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.btn-exp {
     /* font-family: kumbh-bold; */
    font-size: 20px;
    padding: 14px 46px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 1px 1px 20px 2px #85747425;
}

.estrelas {
    position: absolute;
    bottom: 190px;
    right: 90px
}

header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

li {
    list-style: none;
    /* font-family: kumbh-regular; */ 
    font-size: 2.1vh;
}

/* .sing-aulas {
    background: linear-gradient(90deg, #50dfff, #5dbdfe, #6b9bfd);
    padding: 1vh 1.4vh;
    border-radius: 30px;
    color: #fff;
} */

.sing-aulas {
    background: linear-gradient(90deg, #02F2CA, #31A395);
    padding: 1vh 1.4vh;
    border-radius: 30px;
    color: #fff;
  }

.login-aulas {
    color: #68a4fe;
    padding: 1vh 3vh;
    border-radius: 30px;
    border: solid 3px #fff;
}

/* a:hover {
     font-family: kumbh-medium;
} */

a {
    text-decoration: none;
    color: #907a85;
}

/* /////////////////////////////////////////////////////// */

.prog-seg {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    justify-content: space-between;
}

.num-prog {
    background-color: #ff66b375;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    position: relative;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: inika-bold;
}

.num-prog canvas {
    position: absolute;
    left: 20%;
    margin-left: -50px;
}

.num-prog svg {
    position: absolute;
    top: -15px;
    left: -15px;
}

.nivel hr {
    border-color: #2A8B5B;
    border-radius: 100%;
}

.nivel svg {
    margin-top: 4px;
}


.quant-hrs svg {
    position: absolute;
    top: 20px;
    right: -10px;
}

.quant-hrs hr {
    border-color: #C69106;
    border-radius: 100%;
}

#tempoDecorrido {
    font-size: 2.4em;
    text-align: center;
    margin-top: 2px;
}

.num-circ {
    font-size: 2.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.videoaulas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 14vh;
}

.videoAulasAulas {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 85%;
    backdrop-filter: blur(200px);
    border-radius: 10vh;
    background:radial-gradient( #2A8B5B5c, #ffffff) ;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.videoAulasAulas iframe {
    border-radius: 3vh;
}

.line-dash {
    position: absolute;
    top: 625px;
    right: 0vh;
    z-index: -1;
  }

.video-aulas {
    width: 100%;
    border-radius: 40px;
    padding-top: 3vh;
    padding-left: 3vh;
    position: relative;
    z-index: 3;
    padding-bottom: 30px;
    transition: .5s ease-in-out;
    margin-top: 10vh;
}

.bannerAulas .video-aulas .titulo-1 {
    color: #000;
}

.aulas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aula {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 2vh;
    width: 40%;
}

.info {
    font-size: 1.4em;
    width: 100%;
}
/* 
.video-aulas iframe {
    width: 100%;
    height: 40vh;
    margin-right: 3vh;
    border-radius: 20px;
} */

.mais-conteudo {
    display: none;
    transition: .5s ease-in-out;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
}
::-webkit-scrollbar-thumb {
    background: #34ff85d5;
    border-radius: 10vh;
}

.row-categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 5vh;
}

.questoes {
    margin: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    backdrop-filter: blur(200px);
    border-radius: 10vh;
    background:radial-gradient( #2A8B5B5c, transparent) ;
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}

.questoes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questoes1 .titulo-5 {
    font-size: 65px;
}

.lizQuestoes {
    width: 400px;
    height: 400px;
    padding: 20px 10px 0px 10px;
    border-radius: 100%;
    background-color: #2A8B5B;
    margin-right: 90px;
}

.questoes:after {
    content:"";
    width: 280px;
    height: 0px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questoes a {
    padding: 10px 30px;
    border-radius: 10vh;
    font-size: 35px;
    background-color: #34AD71;
    color: #fff;
}
