body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #f3f3f3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: #090C2F;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  text-decoration: none;
  color: #A4A4A4;
  cursor: pointer;
}

.row-perfil hr {
  height: 30px;
  border-color: #072dd4;
}

/* header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
header ul a  svg{
  filter: drop-shadow(0 0 1rem rgb(117, 117, 117));
} */

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

li {
  list-style: none;
  /* font-family: kumbh-regular; */ 
  font-size: 2.1vh;
}

/* a:hover {
   font-family: kumbh-medium;
} */

a {
  text-decoration: none;
  color: #ffffff;
}

.premium-usuario {
    display: flex;
    align-items: center;
}

.usuario {
    padding-left: 10px;
}

.line-temp {
    width: 27px;
    height: 2px;
    background-color: #000;
    border-radius: 10vh;
    margin: 5px;
    margin-right: 30px;
}

.pesq {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, #ADECFA, #16B0FF);
    margin-bottom: 2.5vh;
    border-radius: 10vh;
    display: flex;
    overflow: hidden;
}

.icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: #50DFFF;
    height: 40px;
    width: 40px;
    border-radius: 100vh;
    position: absolute;
}

.input-pesq {
    border: none !important;
    outline: none;
    color: #000;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    border-radius: -10px;
    margin-left: 45px;
    background: transparent;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #A4A4A4;
    list-style: none;
    font-size: .9em;
}

.atual {
    font-size: 1.16em;
    color: #1665c6;
    font-weight:bolder;
}

.titulo-1 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #fff;
}

nav hr {
    margin-bottom: 2vh;
}

  .btn-ass {
    width: 230px;
    height: 40px;
    font-size: 1.2em;
    border-radius:10vh 0 10vh 10vh;
    background:linear-gradient(90deg, #FEBB13, #FD9605);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .titulo-1 {
    /* font-family: kumbh-bold; */
   color: #ffffff;
   font-size: 75px;
}

.titulo-1-5 {
  /* font-family: kumbh-bold; */
 font-size: 65px;
}

.frase {
  text-align: center;
  margin: 20px;
  margin-top: -20px;
}

.txt-center {
  text-align: center;
  color: #fff;
}

button .txt-center {
  font-size: 1.2em;
}

.titulo-2 {
    /* font-family: kumbh-regular; */ 
    font-weight: 300;
   font-size: 35px;
   color: #ffffff;
}

.titulo-3 {
    /* font-family: kumbh-light; */
   font-size: 50px;
   color: #ffffff;
   font-weight: 100;
}

.titulo-3-5 {
  font-size: 13px;
}

.titulo-3-6 {
  font-size: 23px;
}

.titulo-4 {
    /* font-family: kumbh-light; */
   font-size: 55px;
   font-weight: 200;
}

.titulo-1-cor-verde {
  color: #136c41ba;
    font-size: 65px;
}

.titulo-1-cor-azul {
  color: #0c79eeaf;
    font-size: 65px;
}

.titulo-1-cor-vinho {
  color: #0A60C5;
    font-size: 65px;
}

[data-anime] {
  opacity: 0;
  transition: .5s ease-in-out; 
}

[data-anime="left"] {
  transform: translate3d(-50px, -30px, -10px);
}

[data-anime="right"] {
  transform: translate3d(50px, 30px, 0);
}

[data-anime="bottom"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 100%;
  transform: translate3d(0px, 0px, 0px);
}

ul a svg {
  transition: .3s ease-in-out;
}

ul a svg:hover {
  transition: .3s ease-in-out;
  scale: 1.08;
  rotate: 3deg;
}

.svg-container {
  position: relative;
  display: inline-block;
  width: 100px; /* Defina o tamanho do seu SVG aqui */
  height: 100px; /* Defina o tamanho do seu SVG aqui */
}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

header ul a svg path {
  fill: #ffffff;
}

/* HOME */

.banner {
    background:radial-gradient( #092056c9, #090C2F);
}

.banner:after {
    border-top: 30px solid #090C2F;
}

.banner2:after {
    border-top: 30px solid #090C2F;
}

.objetivos:after {
    border-top: 50px solid #090C2F;
}

.banner2 {
  background:radial-gradient( #092056c9, #090C2F);
}

.banner3 {
  background:radial-gradient( #092056c9, #090C2F);
}

.verde {
    background: linear-gradient(45deg, #0A60C5, #0A60C5);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
  
.titulo-1-cor {
    background: linear-gradient(45deg, #d47c00, #d47c00);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 65px;
}

.objetivos-blur {
  background:radial-gradient( #092056c9, #090C2F);
  color: #ffffff;
}

.primeiro {
    padding: 120px 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 2px #8574745b;
    width: calc(80%/4);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 5vh;
    transition: .4s ease-in-out;
}

.primeiro svg .path1 {
  fill: #0A60C5;
}

.titulo-hands svg path {
  fill: #0A60C5;
}

.primeiro svg .vetor {
  fill: url(#paint0_linear_334_453);
}

.liz-amarelo, .liz-rosa {
  display: none;
}

.line-dash path, .line-dash-2 path, .line-dash-1 path {
  stroke: #52DAFF;
}

/* KIDS */

.banner1 {
    background:radial-gradient( #0077ff5c, #090C2F) ;
}
  
  .banner1:after {
    border-top: 30px solid #090C2F;
}
  
  .banner2-1 {
    background:radial-gradient( #0077ff5c, #090C2F) ;
}
  
  .banner2-1:after {
    border-top: 30px solid #090C2F;
}

.videoAulas {
    background:radial-gradient( #0077ff5c, #090C2F) ;
}

/* PROFISSIONAIS */

.bannerProf {
  background:radial-gradient( #092056c9, #090C2F);
}

.bannerProf:after {
    border-top: 30px solid #090C2F;    
}

.btn-saiba {
    background-color: #ffffff;
    color: #000000;
    filter: drop-shadow(0 0 20px #ffffffaa);
}

.sec-2 {
    background: linear-gradient(180deg, #090C2F, #090C2F , #090C2F98, #ffffff0c, #ffffff00);
}

.wrapper .carousel .item .p {
    color: #ffffff;
}

  ::-webkit-scrollbar-track {
    background-color: #090C2F;
}
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
}
  ::-webkit-scrollbar-thumb {
    background: #ffffff81;
    border-radius: 10vh;
}

.cont svg .path1 {
  fill: #52DAFF;
}

.cont svg .path2 {
  fill: #52DAFF;
}

.carousel img{
  filter: drop-shadow(10px -20px 6.4rem  #52daff);
}

/* AULAS */

.bannerAulas {
  background:radial-gradient( #092056c9, #090C2F);
}
  
  .bannerAulas:after {
    border-top: 30px solid #090C2F;
}

.verdeAulas {
    color: #0A60C5;
}

.videoAulasAulas {
  background:radial-gradient( #092056c9, #090C2F);
}

.questoes {
  background:radial-gradient( #092056c9, #090C2F);
  padding-top: 20px;
  padding-bottom: 0px;
}

.questoes:after {
  border-top: 30px solid #090C2F;
}

.questoes a {
  background-color: #090C2F;
  color: #fff;
}

.row-categorias a {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #151b57;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-categorias svg path{
  fill: #e5e5e5;
}

/* ATIVIDADES */

main {
    color: #fff;
}

.answers button{
  width: 190px;
  height: 70px;
  border: none;
  border-radius: 15px;
  background-color: #0A60C5;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.btnRestart {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0A60C5;
  color: #fff;
}

.finish a {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0A60C5;
  color: #fff;
  text-decoration: none;
}

/* PERFIL */

.perfil {
  background:radial-gradient( #092056c9, #090C2F);
}

.titulo-cor-vermelho {
  color: #fff;
}

.config-div {
box-shadow: 0 0 20px #93939333;
background-color: #090C2F;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffffffd5;
    border-radius: 10vh;
  }

.balao2 {
    background-color: #090C2F;
    color: #ffffff;
}

.balao3 {
    background-color: #090C2F;
    color: #ffffff;
}

.opcoes {
  height: 100vh;
  position: relative;
  width: 30%;
  background-color: #121939;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opcoes ul a{
  text-align: left;
  font-size: 1.1em;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.opcoes button {
  border: none;
  width: 90%;
  height: 70px;
  border-radius: 15px;
  background: #ffffff24;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.titulo-config {
  position: absolute;
  top: 40px;
  left: 25px;
  color: #fff;
}

input[type=file] {
  border-radius: 5px;
  border: 1px solid #333;
  background: transparent;
  color: #fff;
  height: 30px;
  width: 300px;
  cursor: pointer;
}

.img-perfil-profile img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-perfil-profile1 img {
  border-radius: 100%;
  position: relative;
}

.picture path {
  fill: white;
}

.picture .borderSvg {
  width: 36px;
  height: 36px;
  background-color: #353535;
  border-radius: 100%;
}

.opcoes ul a button{
  color: #fff;
  margin-left: 15px;
}

.row-perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  gap: 40px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px;
  border-radius: 20px;
}

.row-perfil-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 40px;
  font-size: 1.2em;
  font-weight: 600;
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px #2a3157;
  width: 800px;
}

.row-perfil-profile-senha form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 1.1em;
  font-weight: 600;
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px #2a3157;
  width: 800px;
}

.img-perfil-profile .padrão {
  filter: invert(100%);
}

.img-perfil .padrão {
  filter: invert(100%);
}

.img-perfil-profile1 .padrão img{
  filter: invert(100%);
}

.temas #theme-toggle-blue svg {
    border: 2px solid #16B0FF;
    border-radius: 19px;
    overflow: hidden;
}
