/* a {
    color: #005e99;
}

body {
    background-color: #fff;
    background-size: 200%;
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.alert-text {
    position: absolute; left: 50%; top: 10%;
    background-color:  #f5c6cb;
    transform: translate(-50%, -50%);
    gap: 20px;
  }
  
.background {
    position: absolute;
    width: 110%;
    height: 175vh;
    left: -10px;
    top: -190px;
    z-index: -1;
  }

.area-cadastro {
    width: 100%;
    height: 100%;
    padding: 6vh;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}

.area-cadastro h3 {
    text-align: center;
}

.area-cadastro h4 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.titulo-1 {
    color: #000;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.titulo-2 {
    color: #363636;
    font-size: 1.2em;
}

.titulo-3 {
    color: #000;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background: #7373730f;
    box-shadow: inset -6px 7px 7px #0000000c;
    padding: 9px;
    padding-left: 25px;
    height: 30px;
    border-radius: 10vh;
    border: none;
    margin: 10px;
    width: 60%;
    color: #000;
}
#icon {
    position: absolute;
    background-color: #000;
    background: url(/olho_aberto.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 475px;
    cursor: pointer;
}

#icon.hide {
    background: url(/olho_fechado.png);
    background-size: cover;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

input .check {
    padding: 4px;
}




::-webkit-input-placeholder {
    font-size: 1.2em;
    color: #fff;
 }
 
 :-ms-input-placeholder { 
    font-size: 1.2em;
    color: #fff;
 }

 .date {
    color: #fff;  
    font-size: 1.1em;
 }

 .check {
    border: none;
    width: 8%;
    color: #000;
 }

.button {
    border-radius: 30px;
    background: #00000034;
    box-shadow: inset -6px 7px 7px #00000015, 4px 3px 3px #4b4b4b15;
    padding: 12px 84px;
    color: #222;
    cursor: pointer;
    border: none;
    transition: .5s ease-in;
}

.button:hover {
    background: #0000005a;
    color: #ffffff;
    box-shadow: inset -6px 7px 7px #00000033, 4px 3px 3px #00000033;
}

select {
    background: #7c7c7c12;
    padding: 9px;
    padding-left: 25px;
    height: 30px;
    border-radius: 10vh;
    border: none;
    margin: 10px;
    margin-left: 0px;
    width: calc(90%);
    color: #000;
}

.termos_uso {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: #000;
 }
 
 :-moz-placeholder { 
    color: #000;  
 }
 
 ::-moz-placeholder {
    color: #000;  
 }
 
 :-ms-input-placeholder {  
    color: #000;  
 }

 input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8);
  }

 .ou {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
 }

 .linha {
    width: 130px;
    height: 1px;
    background-color: #000;
 }

 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }


 .progress-container {
    width: 30px; 
    height: 200px; 
    background-color: #f0f0f0;
    border-radius: 15px; 
    margin: 20px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #4caf50;
    border-radius: 15px; 
  }
  
  form {
    margin-bottom: 20px;
  }

  
.titulo-4 {
   font-size: 15px;
   font-weight: 200;
   color: #000;
}

.alertalert-danger {
    color: #721c24;
    padding: 10px;
}

.alert-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

body {
    background-color: #7c37fc;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; /*fonte temporaria*/
    padding: 0px;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

a {
    text-decoration: none;
}

.area-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

/* #step0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border: solid 1px #000;
    padding: 130px 50px;
    border-radius: 20px 20px 20px 0px ;
} */

.balao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: #fff;
    border-radius: 20px;
    width: 350px;
    height: auto;
    position: relative;
    padding: 17px 12px;
    color: #000;
    display: none;
    z-index: 1;
}

.balao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: #fff;
    border-radius: 20px;
    width: auto;
    height: 70px;
    overflow: hidden;
    position: absolute;
    z-index: 888;
    color: #000;
    display: none;
}

#step0 .balao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: #fff;
    border-radius: 20px;
    width: 350px;
    height: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

#step1 .balao {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    width: 350px;
    height: auto;
    position: relative;
    color: #000;
    padding-left: 2vh;
    padding-right: 1vh;
}

#texto3 {
    padding: 10px;
}
  
.balao:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -15px;
    left: 15%;
}

.liz {
    position: absolute;
    bottom: -90px;
    z-index: 5;
}

@media screen and (max-height: 900px) {
    .liz {
        width: 100px;
        position: absolute;
        bottom: -90px;
    }

    #step1 .balao {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 20px;
        width: 350px;
        height: auto;
        position: relative;
        color: #000;
        font-size: medium;
        padding-left: 2vh;
        padding-right: 1vh;
    }

    #step1 {
        margin-top: 12vh;
    }

    .proximo {
        width: 26;
        position: absolute;
    }

    .area-cadastro {
        margin-top: -15vh;
    }
    }
    

.step3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.area-cadastro .hands {
    position: fixed;
    top: 5vh;
    left: 5vh;
}

.titulo-1 {
    color: #000;
    font-size: 1.6em;
    margin-bottom: 10px;
}

.titulo-2 {
    color: #A5A5A5;
    /* font-family: inika-bold; */
}

.titulo-3 {
    color: #000;
    /* font-family: inika-bold; */
}

.titulo-4 {
    color: #a5a5a5;
    /* font-family: inika-bold; */
}

.titulo-5 {
    color: #a5a5a5;
    /* font-family: inika-bold; */
    font-size: 1.2em;
}

.titulo-6 {
    color: #000000b4;
    /* font-family: kumbh-regular; */
}

.campos {
    display: flex;
    flex-direction: column;
}

.input {
    background: transparent;
    padding: 9px;
    padding-left: 25px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    margin-left: 0px;
    width: calc(90%);
    color: #fff;
    box-shadow: inset 0 0 10px #5353535f;
    border: solid 1.4px #fff;
    display: none;
}

.pulsating {
    animation: pulsate 1s infinite alternate;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.06);
    }
}

.btn-primary {
    background-color: #85A611;
    color: #fff;
    width: 100%;
    font-size: 1.4em;
    height: 60px;
    /* font-family: inika-bold; */
}

.login {
    color: #1C8394;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: #000;
    /* font-family: inika-bold; */
    font-size: 1.2em;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #000;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #000;  
 }
 
 :-ms-input-placeholder {  
    color: #000;  
 }

 .date {
    color: #000;
    /* font-family: inika-bold; */
    font-size: 1.1em;
 }

 input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: brightness(0%);
}

 .ou {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
 }

 .linha {
    width: 130px;
    height: 1px;
    background-color: #000;
 }

 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }


button {
    cursor: pointer;
}

 .hidden {
    display: none;
 }

#btn-cadastro {
    border: none;
    padding: 7px 19px;
    border-radius: 10vh;
    background-color:#1C8394;
    display: none;
    transition: .5s ease;
    scale: 1.5;
    box-shadow: 0px 4px 1px #0d5562;
    color: #fff;
}

#btn-cadastro:hover{
    border: none;
    padding: 7px 19px;
    border-radius: 10vh;
    background-color:#1C8394;
    display: none;
    transition: .5s ease;
    scale: 1.5;
    box-shadow: 0px 0px 0px #0c424c;
    transform: translate3d(0px, 5px, 0); /* Move o elemento 50px para a direita, 100px para baixo e não muda a posição na profundidade (eixo Z) */
}

#enviar {
    border: none;
    padding: 7px 19px;
    border-radius: 10vh;
    background-color:#1C8394;
    transition: .5s ease;
    scale: 1.5;
}

.conversa {
    margin-top: 5vh;
}

.texto {
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: 600;
}

.voltar {
    background-color: transparent;
    border: none !important;
    position: absolute;
    top: 14vh;
    font-weight: 800;
    left: 1vh;
    display: none;
}

.voltar1 {
    background-color: transparent;
    border: none !important;
    position: absolute;
    top: 14vh;
    font-weight: 800;
    left: 1vh;
}

.proximo {
    background-color: transparent;
    border: none !important;
    position: absolute;
    font-weight: 800;
    right: 1vh;
    bottom: 5vh;
}

.check {
    width: 15px;
    height: 15px;
}
