body {
    background-color: #ffffff;
    flex-direction: column;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; /*fonte temporaria*/
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vh;
    margin-top: 50px;
    margin-bottom: 2vh;
}

header div a{
    padding: 8px 19px;
    border-radius: 10vh;
    color: #000;
    font-weight: 700;
}

header div .prof {
    padding: 12px 19px;
    border-radius: 10vh;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(110deg, #6B9BFD, #02F2CA);
}

header div .prof1 {
    padding: 12px 19px;
    border-radius: 10vh;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(110deg, #fdcf6b, #f29202);
}

/*.alert.alert-success {
    color: #000000;
    background-color: #d7f8dc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .alert.alert-danger {
    color: #000000;
    background-color: #ea3a3aa9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .alert-text {
    position: absolute; left: 50%; top: 5%;
    transform: translate(-50%, -50%);
    gap: 20px;
  }

/* .alert-text {
    position: absolute;
    top: 80px;
} */

.area-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.balao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: #3b97ff;
    border-radius: 20px;
    width: 350px;
    height: 280px;
    position: relative;
    padding: 17px 12px;
    color: #000;
    z-index: 1;
    margin-top: 10vh;
    /* display: none; */
}

.balao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    width: 650px;
    height: auto;
    position: relative;
    padding: 17px 12px;
    color: #000;
    z-index: 1;
}

.balao2:after {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -15px;
    left: 15%;
}

.balao2 input {
    background: transparent;
    padding: 6px;
    padding-left: 25px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-left: 0px;
    width: calc(90%);
    color: #000000;
    border: solid 1.4px #000000;
}

.balao2 button {
    border: none;
    padding: 17px 19px;
    border-radius: 10vh;
    background-color:#1C8394;
    transition: .5s ease;
    box-shadow: 0px 4px 1px #0d5562;
    color: #fff;
}

.balao2 label {
    color: #000;
}

label {
    color: #000;
}

.termos {
    color: #3b97ff;
}

.balao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: #fff;
    border-radius: 20px;
    width: auto;
    height: 70px;
    overflow: hidden;
    position: absolute;
    z-index: 888;
    color: #000;
}

#step0 .balao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: #3b97ff;
    border-radius: 20px;
    width: 350px;
    height: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

#step1 .balao {
    display: flex;
    flex-direction: column;
    background: #3b97ff;
    border-radius: 20px;
    width: 350px;
    height: auto;
    position: relative;
    color: #000;
    padding-left: 2vh;
    padding-right: 1vh;
}

#texto3 {
    padding: 10px;
}
  
.balao:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3b97ff;
    bottom: -15px;
    left: 15%;
}

@media screen and (max-height: 900px) {

    #step1 .balao {
        display: flex;
        flex-direction: column;
        background: #3b97ff;
        border-radius: 20px;
        width: 350px;
        height: auto;
        position: relative;
        color: #000;
        font-size: medium;
        padding-left: 2vh;
        padding-right: 1vh;
    }

    #step1 {
        margin-top: 12vh;
    }

    .proximo {
        width: 26;
        position: absolute;
    }

    .area-cadastro {
        margin-top: -15vh;
    }
    }
    

.step3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .hands {
    position: relative;
    left: 5vh;
}

.cinza {
    color: #898989;
}

.titulo-1 {
    color: #000;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 700;
}

.titulo-2 {
    color: #000000;
    /* font-family: inika-bold; */
}

.titulo-3 {
    color: #000;
    /* font-family: inika-bold; */
}

.titulo-4 {
    color: #a5a5a5;
    /* font-family: inika-bold; */
}

.titulo-5 {
    color: #a5a5a5;
    /* font-family: inika-bold; */
    font-size: 1.2em;
}

.titulo-6 {
    color: #000000b4;
    /* font-family: kumbh-regular; */
}

.campos {
    display: flex;
    flex-direction: column;
}

.input {
    background: #fff;
    padding: 10px;
    padding-left: 25px;
    height: 15px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    margin-left: 0px;
    width: calc(90%);
    color: #000000;
    /* display: none;    */
}

.pulsating {
    animation: pulsa 1s infinite alternate;
}

@keyframes pulsa {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}

.btn-primary {
    display: none;
    /* font-family: inika-bold; */
}

.login {
    color: #ffffff;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: #000000;
    /* font-family: inika-bold; */
    font-size: 1.2em;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #000000;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #000000;
 }
 
 :-ms-input-placeholder {  
    color: #000000;
 }

 .date {
    color: #000000;
    /* font-family: inika-bold; */
    font-size: 1.1em;
 }

 input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: brightness(0%);
}

 .ou {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
 }

 .linha {
    width: 130px;
    height: 1px;
    background-color: #000;
 }

 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }


button {
    cursor: pointer;
}

 .hidden {
    display: none;
 }

 .g-recaptcha {
    border-radius: 2vh;
    overflow: hidden;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    border: solid 1px #fc950449;
    box-shadow: 0 0 10px #fc95042f;
 }

 .button:hover{
    border: none;
    font-size: larger;
    padding: 16px;
    border-radius: 10vh;
    background-color:#1c5094;
    transition: .5s ease;
    color: #fff;
    box-shadow: 0px 0px 0px #0d2462;
    transform: translate3d(0px, 5px, 0); /* Move o elemento 50px para a direita, 100px para baixo e não muda a posição na profundidade (eixo Z) */
}

#btn-cadastro {
    border: none;
    padding: 7px 19px;
    border-radius: 10vh;
    background-color:#ffffff;
    display: none;
    transition: .5s;
    scale: 1.5;
    box-shadow: 0px 4px 0px #e0e0e0;
    color: #000000;
    font-weight: 600;
}

#btn-cadastro:hover{
    border: none;
    padding: 7px 19px;
    border-radius: 10vh;
    background-color:#ffffff;
    display: none;
    transition: .5s;
    scale: 1.5;
    box-shadow: 0px 0px 0px #e0e0e0;
    transform: translate3d(0px, 5px, 0); /* Move o elemento 50px para a direita, 100px para baixo e não muda a posição na profundidade (eixo Z) */
}

#enviar {
    border: none;
    padding: 7px 19px;
    border-radius: 10vh;
    background-color:#1C8394;
    transition: .5s ease;
    scale: 1.5;
}

.conversa {
    margin-top: 5vh;
}

.texto {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.voltar {
    background-color: transparent;
    border: none !important;
    position: absolute;
    top: 14vh;
    font-weight: 800;
    left: 1vh;
    display: none;
}

.voltar1 {
    background-color: transparent;
    border: none !important;
    position: absolute;
    top: 14vh;
    font-weight: 800;
    left: 1vh;
}

.proximo {
    background-color: transparent;
    border: none !important;
    position: absolute;
    font-weight: 800;
    right: 1vh;
    bottom: 5vh;
}

.check {
    width: 15px;
    height: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    color: #fff;
    transition: .5s ease-in-out;
    margin-top: 2vh;
}

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color:#7c37fc;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 100vh;
    background: #7c37fc;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #7c37fc;
}

#texto3 {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

.fixed1 {
    height: 100vh;
    position: relative;
}

.fixed {
    position: fixed;
    bottom: 2vh;
    left: 1vh;
}

.fixed img {
    position: relative;
    left: -5vh;
    rotate: 45deg;
}

.back {
    position: absolute;
    z-index: -1;
    filter: blur(80px);
}

.passo1 {
    width: 300px;
    background-color: #fff;
    height: 250px;
    backdrop-filter: blur(120px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    margin-top: 5vh;
}

.passo1 .cor {
    color: #2053dd;
}

.passo2 {
    backdrop-filter: blur(120px);
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    top: -5vh;
    right: -5vh;
    margin-right: 50vh;
}

.passo2 .cor {
    color: #dd209e;
}

.passo3{
    backdrop-filter: blur(120px);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 800px;
    height: 300px;
    overflow: hidden;
}

.passo3 input {
    width: 45%;
}

.passo3 .cor {
    color: #14daa9;
}

.passo4 {
    backdrop-filter: blur(120px);
    border-radius: 30px;
    padding: 20px;
    padding-top: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 5vh;
}

.passo4 .button {
    border: none;
    padding: 16px;
    font-size: larger;
    border-radius: 10vh;
    background-color:#ffa52f;
    transition: .5s ease;
    color: #fff;
    box-shadow: 0px 5px 1px #fd9309;
    cursor: pointer;
}

.passo4 .button:hover{
    border: none;
    font-size: larger;
    padding: 16px;
    border-radius: 10vh;
    background-color:#ffa52f;
    transition: .5s ease;
    color: #fff;
    box-shadow: 0px 0px 0px #fd9309;
    transform: translate3d(0px, 5px, 0); 
}

.passo4 .cor {
    color: #dd9b20;
}

.num {
    margin-right: 20px;
}

.liz {
    position: absolute;
    top: 25vh;
    right: 30vh;
    /* display: none; */
}

.txt-center {
    text-align: center;
}

.areacadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#progress-bar {
    width: 300px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

  #progress {
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
}
  ::-webkit-scrollbar-thumb {
    background: #ffffffd5;
    border-radius: 10vh;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 30%;
    padding: 30px;
    border-radius: 8vh;
    backdrop-filter: blur(90px);
    overflow: hidden;
    box-shadow: 0 0 40px #fff;
    margin-bottom: 20vh;
}

.input-block{
    background-color: #ffffff;
    padding: 10px;
    padding-left: 25px;
    height: 30px;
    border-radius: 10vh;
    border: none;
    margin-left: 0px;
    width: 90%;
    color: #000000;
}

.loginForm .button {
    border: none;
    padding: 13px 35px;
    font-size: larger;
    border-radius: 10vh;
    background-color:#FC9404;
    transition: .5s ease;
    color: #fff;
    box-shadow: 0px 6px 1px #be7508;
    cursor: pointer;
 }

 .loginForm .button:hover{
    border: none;
    font-size: larger;
    padding: 13px 35px;
    border-radius: 10vh;
    background-color:#FC9404;
    transition: .5s ease;
    color: #fff;
    box-shadow: 0px 0px 0px #be7508;
    transform: translate3d(0px, 6px, 0); /* Move o elemento 50px para a direita, 100px para baixo e não muda a posição na profundidade (eixo Z) */
}

 .line-dash {
    position: absolute;
    z-index: -1;
 }

 .cadastro1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .cadastro1 img {
    position: absolute;
    top: 70vh;
 }

 .hands1 {
    position: relative;
    left: 5vh;
    margin-top: 6vh;
}

.cadastro1-body {
    overflow: hidden;
}