a {
    color: #005e99;
}

body {
    /* background: linear-gradient(120deg, #f6ebff, #85bfce, #cec3ff, #22aeff); */
    background-color: #fff;
    background-size: 200%;
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; /*fonte temporaria*/
    overflow-x: hidden;
}

.alert-text {
    position: absolute; left: 50%; top: 10%;
    background-color:  #f5c6cb;
    transform: translate(-50%, -50%);
    gap: 20px;
  }
  
.background {
    position: absolute;
    width: 110%;
    height: 175vh;
    left: -10px;
    top: -190px;
    z-index: -1;
  }

.area-cadastro {
    width: 100%;
    height: 100%;
    padding: 6vh;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}

.area-cadastro h3 {
    text-align: center;
}

.area-cadastro h4 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.titulo-1 {
    color: #000;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.titulo-2 {
    color: #363636;
    font-size: 1.2em;
}

.titulo-3 {
    color: #000;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background: #7373730f;
    box-shadow: inset -6px 7px 7px #0000000c;
    padding: 9px;
    padding-left: 25px;
    height: 30px;
    border-radius: 10vh;
    border: none;
    margin: 10px;
    width: 60%;
    color: #000;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

input .check {
    padding: 4px;
}


::-webkit-input-placeholder {
    font-size: 1.2em;
    color: #fff;
 }
 
 :-ms-input-placeholder { 
    font-size: 1.2em;
    color: #fff;
 }

 .date {
    color: #fff;  
    font-size: 1.1em;
 }

 .check {
    border: none;
    width: 8%;
    color: #000;
 }

.button {
    border-radius: 30px;
    background: #00000034;
    box-shadow: inset -6px 7px 7px #00000015, 4px 3px 3px #4b4b4b15;
    padding: 12px 84px;
    color: #222;
    cursor: pointer;
    border: none;
    transition: .5s ease-in;
}

.button:hover {
    background: #0000005a;
    color: #ffffff;
    box-shadow: inset -6px 7px 7px #00000033, 4px 3px 3px #00000033;
}

select {
    background: #7c7c7c12;
    padding: 9px;
    padding-left: 25px;
    height: 30px;
    border-radius: 10vh;
    border: none;
    margin: 10px;
    margin-left: 0px;
    width: calc(90%);
    color: #000;
}

.termos_uso {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: #000;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #000;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #000;  
 }
 
 :-ms-input-placeholder {  
    color: #000;  
 }

 input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8);
  }

 .ou {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
 }

 .linha {
    width: 130px;
    height: 1px;
    background-color: #000;
 }

 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }


 .progress-container {
    width: 30px; /* largura da barra de progresso */
    height: 200px; /* altura da barra de progresso */
    background-color: #f0f0f0;
    border-radius: 15px; /* bordas arredondadas */
    margin: 20px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #4caf50;
    border-radius: 15px; /* bordas arredondadas */
  }
  
  form {
    margin-bottom: 20px;
  }

  
.titulo-4 {
    /* font-family: kumbh-light; */
   font-size: 15px;
   font-weight: 200;
   color: #000;
}
