
body {
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 9px;
}

.alert.alert-success {
  color: #000000;
  background-color: #d7f8dc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.alert-text {
  position: absolute; left: 50%; top: 1%;
  transform: translate(-50%, -50%);
  gap: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.background {
  position: absolute;
  width: 110%;
  height: 300vh;
  left: -10px;
  top: -10px;
  z-index: -1;
}

/* .banner {
  width: 809px;
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 2vh;
  background: #0000000b;
  box-shadow: inset -6px 7px 7px #00000015;
  border: none;
  margin: 10px;
  color: #000;
  margin-top: 10vh;
} */

.banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-bottom: 10vh;
  width: 80%;
  backdrop-filter: blur(200px);
  padding: 40px;
  border-radius: 10vh;
  position: relative;
  z-index: 7;
  background:radial-gradient( #ffdc165c, #ffffff);
  position: relative;
}

.bannerPerti {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-bottom: 10vh;
  width: 80%;
  backdrop-filter: blur(200px);
  padding: 40px;
  border-radius: 10vh;
  position: relative;
  z-index: 7;
  background:radial-gradient( #ffdc165c, #ffffff);
  position: relative;
}

.banner p a {
  text-decoration: underline;
}

.bannerPerti .map {
  position: relative;
  right: -40px;
}

.titulo-2-5 {
  font-weight: 300;
 font-size: 30px;
 color: #434343;
}

.banner:after {
  content:"";
  width: 180px;
  height: 0px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  top: -1px;
  left: 15%;
}

.banner2:after {
  content:"";
  width: 180px;
  height: 0px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  top: -1px;
  left: 15%;
}

.objetivos:after {
  content:"";
  width: 300px;
  height: 0px;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #fff;
  rotate: -90deg;
  transform: scaleX(-1);
  top: 50%;
  left: -180px;
}

.estrela-banner {
  position: absolute;
  top: 20px;
  left: 50%;
}

.estrela-banner-3 {
  position: absolute;
  top: 20px;
  right: 30px;
  transform: scaleX(-1);
}

.banner h2, .banner h3 {
  text-align: center;
}

.line-dash {
  position: absolute;
  top: 725px;
  left: 40vh;
  z-index: -1;
}

.line-dash-1 {
  position: absolute;
  top: 1181.5px;
  right: 40vh;
  z-index: -1;
  transform: scaleX(-1);
}

.line-dash-2 {
  position: absolute;
  top: 925px;
  left: 60vh;
  z-index: -1;
  transform: scaleY(-1);
}

.line-dash-3 {
  position: absolute;
  top: 1825px;
  left: 60vh;
  z-index: -1;
  transform: scaleY(-1);
}

.line-dash-4 {
  position: absolute;
  top: 4025px;
  z-index: -1;
  transform: scaleY(-1);
}

.banner2 {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: right; 
  backdrop-filter: blur(200px);
  padding: 40px;
  border-radius: 10vh;
  background:radial-gradient( #ffb8055c, #ffffff);
  text-align: center;
}

.banner3 {
  backdrop-filter: blur(200px);
  padding: 40px;
  padding-bottom: 0px;
  border-radius: 10vh;
  background:radial-gradient( #ffb8055c, #ffffff) ;
}

/* ////////////////////////////////////////////////////// */

.sing-aulas {
  background: linear-gradient(90deg, #FC9404, #AB6402 );
  padding: 1vh 1.4vh;
  border-radius: 30px;
  color: #fff;
}

.verde {
  background: linear-gradient(45deg, #AB6402, #AB6402);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

.titulo-1-cor {
  background: linear-gradient(45deg, #AB6402, #AB6402);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 65px;
}

.aula-teste {
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.btn-exp {
   /* font-family: kumbh-bold; */
  font-size: 20px;
  padding: 14px 46px;
  background-color: #ffffff3d;
  border-radius: 14px;
  box-shadow: 1px 1px 20px 2px #85747425;
  transition: .6s ease-in-out;
}

.btn-exp:hover {
  padding: 16px 48px;
  background-color: #ffffff5d;
  box-shadow: 1px 1px 20px 2px #85747448;
}

.estrelas {
  position: absolute;
  bottom: 190px;
  right: -40px
}

.objetivos-blur {
  background:radial-gradient( #ffb8055c, #ffffff);
  backdrop-filter: blur(200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
  border-radius: 10vh;
  width: 80%;
  padding: 50px;
  margin-bottom: 20px;
}

.intuito {
  background:radial-gradient( #ffb8055c, #ffffff);
  backdrop-filter: blur(200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
  border-radius: 10vh;
  width: 80%;
  height: 500px;
  margin-bottom: 20px;
}

.intuito:after {
  content:"";
  width: 280px;
  height: 0px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  top: -1px;
  left: 15%;
}

.objetivos {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  text-align: center;
  font-size: 1.3em;
}

.primeiro {
  padding: 120px 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 1px 1px 20px 2px #8574745b;
  width: calc(80%/4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 5vh;
  transition: .4s ease-in-out;
}

.primeiro svg {
  position: absolute;
  top: -80px;
}

.primeiro:hover {
  transform: scale(1.07);
}

@media screen and (max-width: 900px) {
  .objetivos {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
  }

  .primeiro {
    padding: 120px 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 2px #8574745b;
    width: calc(95%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 5vh;
    transition: .6s ease-in-out;
  }

  .banner .bannerMulher {
    display: none;
  }

  .banner-2 > img {
    display: none;
  }
  }

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 9px;
  padding: 12px;
}
::-webkit-scrollbar-thumb {
  background: #ffbb34d5;
  border-radius: 10vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20vh;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  margin-top: 10vh;
}

.carousel-mobile {
  display: flex;
  gap: 20px;
  /* animation: scroll 30s linear infinite; */
}

.carousel-container img {
  min-width: 250px;
  min-height: auto;
}

.carousel-mobile img {
  width: 250px;
  height: 600px;
  border-radius: 20px;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 7 - 20px * 7));
  }
}

.comentario {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map .mapa{
  fill: url(#paint0_linear_477_49);
}

.coment {
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.cont {
  width: 350px;
  height: auto;
  border-radius: 24px;
  backdrop-filter: blur(120px);
  padding: 30px;
  background: radial-gradient(#ff820554, transparent);
}

.cont svg path {
  fill:#FC9404;
}

.cont .row {
  gap: 20px;
}

/* COMENTARIOS */

.comment-wrapper {
  width: 300px;
  height: 450px;
  background: linear-gradient(180deg, #FFB800, #FFE500);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

.comment-wrapper .titulo-1, .comment-wrapper .titulo-3 {
  color: #fff;
  font-weight: 500;
} 

.comment-wrapper .titulo-3 {
  font-size: 40px;
  font-weight: 100;
}

.comment-input form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment-input form textarea{
  background: #ffffff67;
  border-radius: 15px;
  height: 120px;
  padding: 20px;
  width: 270px;
  border: none;
  margin-top: 5vh;
  outline: 0;
  color: #000;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.comment-input form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.btnComent {
  border: none;
  padding: 10px 36px;
  border-radius: 10vh;
  background-color:#ffffffd6;
  font-size: large;
  width: 100%; 
  transition: .5s ease;
  color: #000000;
  font-weight: 50;
  box-shadow: 0px 0px 10px #b2b2b25c;
  cursor: pointer;
}

.btnComent:hover{
  border: none;
  padding: 10px 36px;
  width: 100%;
  font-size: large;
  border-radius: 10vh;
  background-color:#ffffffd6;
  transition: .5s ease;
  color: #000000;
  box-shadow: 0px 0px 5px #b2b2b2;
}

/* .btnComentEnvi {
  border: none;
  border-radius: 100%;
  background-color:#6a6a6ad6;
  box-shadow: 0px 0px 10px #b2b2b25c;
  cursor: pointer;
} */

.comment-principal {
  width: 350px;
  height: auto;
  border-radius: 40px;
  background-color: #F1F1F1;
  padding: 20px;
  margin-bottom: 20px;
}

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  gap: 10px; 
}

.comment-all{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.comments-section{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.comment-actions button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 7px;
  background-color: #848484;
  border: none;
  border-radius: 100%;
}

.btnComentDel button{
  background-color: #ff0000;
}

.comment-actions .cx-txt {
  display: flex;
  height: 100%;
  gap: 5px; 
  align-items: center;
}

.cx-excluir {
  height: 100%;
}

.comment-actions .cx-txt textarea {
  background-color: transparent;
  border-radius: 10vh;
  padding: 5px 10px;
  width: 100%;
  border: solid 1px #434343 ;
  outline: 0;
  color: #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  display: flex;
  align-items: center;
  height: 100%;
}