body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.alert.alert-danger {
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}