body {
    padding-top: 50px;
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 30px;
}

header ul rect {
    position: relative;
    z-index: 99;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  backdrop-filter: blur(200px);
  background:radial-gradient( #ffb80531, #ffffff00);
  padding: 40px;
  border-radius: 5vh;
}
  
.perfil > div {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.row-perfil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 1.3em;
}

.row-perfil hr {
  height: 30px;
  border-color: #d48907;
}

.config {
padding-right: 4vh;
margin-top: 7vh;
display: flex;
flex-direction: column;
gap: 30px;
justify-content: center;
align-items: center;
font-size: 1.4em;
width: 40%;
}

.config-div {
display: flex;
flex-direction: row;
gap: 15px;
align-items: center;
border-radius: 20px;
box-shadow: 0 0 20px #b3b3b333;
padding: 10px;
cursor: pointer;
background-color: #fff;
}

.line-dash {
    position: absolute;
    right: 6vh;
    top: 210px;
    z-index: -1;
    rotate: 10deg;
}

.icon-config {
width: 80px;
height: 80px;
background-color: #fc950445;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
}

.icon-priv {
width: 80px;
height: 80px;
background-color: #8aa33174;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
}

.icon-sino {
width: 80px;
height: 80px;
background-color: #ab80f15c;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
}

.icon-excluir {
  width: 80px;
  height: 80px;
  background-color: #f180805c;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-2 {
font-weight: 800;
font-size: 1.3em;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d97913d5;
    border-radius: 10vh;
  }

.titulo-cor-vermelho a{
    color: #fc0808ef;
  }

  .config a {
    width: 80%;
  }

  .balao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    width: 650px;
    height: 400px;
    padding: 17px 12px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .balao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    width: 650px;
    height: 400px;
    padding: 27px 22px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

.balao2 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  position: relative;
}

.balao3 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
  position: relative;
}

.preto-direita {
  position: absolute;
  top: -5px;
  right: -5px;
}

.balao2 form input {
  border-radius: 10vh;
  padding: 6px 10px;
  background: #fff;
  border: 1px #000 solid;
  color: #000;
}

.balao3 form input {
  border-radius: 10vh;
  padding: 6px 10px;
  background: #fff;
  border: 1px #000 solid;
  color: #000;
}


.config button {
  border: none !important;
  background-color: transparent;
  width: 100%;
  color: #907a85;
  text-align: left;
}

.balao2:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  bottom: -15px;
  left: 15%;
}

#modal-C .balao3 {
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}




/* Adicione o estilo do toggle button aqui */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #d6d6d6;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #222;
}