body {
    background-color: #fff;
    padding-top: 50px;
    overflow-x: hidden;
    transition: .5s ease-in-out;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 30px;
}

header ul rect {
    position: relative;
    z-index: 99;
}

.perfil {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 30%;
backdrop-filter: blur(200px);
background:radial-gradient( #ffb80531, #ffffff);
padding: 40px;
border-radius: 5vh;
}
  
.perfil > div {
text-align: center;
display: flex;
flex-direction: column;
}

.row-perfil {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
gap: 10px;
font-weight: 600;
text-align: center;
font-size: 1.3em;
}

.row-perfil hr {
    height: 30px;
    border-color: #d48907;
}

.config {
padding-right: 4vh;
margin-top: 7vh;
display: flex;
flex-direction: column;
gap: 30px;
justify-content: center;
align-items: center;
font-size: 1.4em;
width: 40%;
}

.config-div {
display: flex;
flex-direction: row;
gap: 15px;
align-items: center;
border-radius: 20px;
box-shadow: 0 0 20px #b3b3b333;
padding: 10px;
cursor: pointer;
background-color: #fff;
}

.line-dash {
    position: absolute;
    right: 6vh;
    top: 210px;
    z-index: -1;
    rotate: 10deg;
}

.icon-config {
width: 80px;
height: 80px;
background-color: #fc950445;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
}

.icon-priv {
width: 80px;
height: 80px;
background-color: #8aa33174;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
}

.icon-sino {
width: 80px;
height: 80px;
background-color: #ab80f15c;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
}

.titulo-2 {
font-weight: 800;
font-size: 1.3em;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d97913d5;
    border-radius: 10vh;
  }

.titulo-cor-vermelho a{
    color: #fc0808ef;
  }

  .config a {
    width: 80%;
  }