* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  background-color: #fde1fb;
  }

a {
  text-decoration: none;
  color: #A4A4A4;
}

.atual {
  font-weight: 500;
}

/* header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
header ul a  svg{
  filter: drop-shadow(0 0 1rem rgb(117, 117, 117));
} */

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

li {
  list-style: none;
  /* font-family: kumbh-regular; */ 
  font-size: 2.1vh;
}

/* a:hover {
   font-family: kumbh-medium;
} */

a {
  text-decoration: none;
  color: #907a85;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.premium-usuario {
    display: flex;
    align-items: center;
}

.usuario {
    padding-left: 10px;
}

.line-temp {
    width: 27px;
    height: 2px;
    background-color: #000;
    border-radius: 10vh;
    margin: 5px;
    margin-right: 30px;
}

.pesq {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, #ADECFA, #16B0FF);
    margin-bottom: 2.5vh;
    border-radius: 10vh;
    display: flex;
    overflow: hidden;
}

.icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: #fde1fb;
    height: 40px;
    width: 40px;
    border-radius: 100vh;
    position: absolute;
}

.input-pesq {
    border: none !important;
    outline: none;
    color: #000;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    border-radius: -10px;
    margin-left: 45px;
    background: transparent;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #A4A4A4;
    list-style: none;
    font-size: .9em;
}

.atual {
    font-size: 1.16em;
    color: #000;
}

.titulo-1 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

nav hr {
    margin-bottom: 2vh;
}

.container-menu a {
    margin-right: 2vh;
  }
  
  .hamburger {
    z-index: 5;
    cursor: pointer;
  }
  
  .hamburger {
    font-size: 3em;
    color: #e1e1e1;
  }
  
  .overlay {
    position: fixed;  
    top: 0;
    left: -40px;
    width: 180%;
    height: 260%;
    background-color: #0000008c;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition:all .8s ;
    animation-delay: .5s;
  }
  
  .show-menu .overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
    pointer-events: auto;
    padding-left: 27rem;
    font-size: .7em;
    transition: .8s ease-in-out;
    transition-duration: .9s;
  }
  
  .sidebar {
    width: auto;
    height: 100vh;
    background-color: #fde1fb;
    box-shadow: 10px 5px 15px 10px #0000003d;
    position: fixed;
    top: 0;
    left: -96rem;
    transition: all .8s;
    z-index: 10;
    padding: 19px;
    border-radius:0 45px ;
  }
  
  .sidebar hr {
    width: 80%;
    color: #000;
  }
  
  .show-menu .sidebar {
    left: 0;
    transition-duration: .8s;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    flex-direction: column;
  }
  
  .menu-item {
    margin-bottom: .5rem;
    list-style-type: none;
  }
  
  .menu-link {
    font-family: 'Trebuchet MS';
    font-size:  28px;
    color: #000;
    position: relative;
    text-decoration: none;
    line-height: 60px;
    transition: color .5s;
  }
  
  .btn-ass {
    width: 230px;
    height: 40px;
    font-size: 1.2em;
    border-radius:10vh 0 10vh 10vh;
    background:linear-gradient(90deg, #FEBB13, #FD9605);
    color: #fde1fb;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .titulo-1 {
    /* font-family: kumbh-bold; */
    color: #000000;
   font-size: 75px;
}

.titulo-1-5 {
  /* font-family: kumbh-bold; */
 font-size: 65px;
}

.frase {
  text-align: center;
  margin: 20px;
  margin-top: -20px;
}

.txt-center {
  text-align: center;
}

.titulo-2 {
    /* font-family: kumbh-regular; */ 
    font-weight: 300;
   font-size: 35px;
   color: #594A3F;
}

.titulo-3 {
    /* font-family: kumbh-light; */
   font-size: 50px;
   color: #000000;
   font-weight: 100;
}

.titulo-3-5 {
  font-size: 13px;
}

.titulo-3-6 {
  font-size: 23px;
}

.titulo-4 {
    /* font-family: kumbh-light; */
   font-size: 55px;
   font-weight: 200;
}

.titulo-1-cor-verde {
  color: #136c41ba;
    font-size: 65px;
}

.titulo-1-cor-azul {
  color: #C23160;
    font-size: 65px;
}

.titulo-1-cor-vinho {
  color: #C23160;
    font-size: 65px;
}

[data-anime] {
  opacity: 0;
  transition: .5s ease-in-out; 
}

[data-anime="left"] {
  transform: translate3d(-50px, -30px, -10px);
}

[data-anime="stop"] {
  transform: translate3d(0px, 0px, 0px);
}

[data-anime="right"] {
  transform: translate3d(50px, 30px, 0);
}

[data-anime="bottom"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 100%;
  transform: translate3d(0px, 0px, 0px);
}

ul a svg {
  transition: .3s ease-in-out;
}

ul a svg:hover {
  transition: .3s ease-in-out;
  scale: 1.08;
  rotate: 3deg;
}

.svg-container {
  position: relative;
  display: inline-block;
  width: 100px; /* Defina o tamanho do seu SVG aqui */
  height: 100px; /* Defina o tamanho do seu SVG aqui */
}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul a svg:hover .h{
  transition: .3s ease-in-out;
  fill: #fe9205dc;
}

ul a svg .h{
  transition: .3s ease-in-out;
}

ul a svg:hover .a{
  transition: .3s ease-in-out;
  fill: #50D59Bdc;
}

ul a svg .a{
  transition: .3s ease-in-out;
}

ul a svg:hover .n{
  transition: .3s ease-in-out;
  fill: #F9BC07dc;
}

ul a svg .n{
  transition: .3s ease-in-out;
}

ul a svg:hover .d{
  transition: .3s ease-in-out;
  fill: #FD67B1dc;
}

ul a svg .d{
  transition: .3s ease-in-out;
}

ul a svg:hover .s{
  transition: .3s ease-in-out;
  fill: #20557ddc;
}

ul a svg .s{
  transition: .3s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.img-perfil-profile img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.img-perfil-profile1 img {
  border-radius: 100vh;
  position: relative;
}

.picture path {
  fill: black;
}

.picture .borderSvg {
  width: 36px;
  height: 36px;
  background-color: #cacaca;
  border-radius: 100%;
}

.row-categorias a {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fde1fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-perfil-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  gap: 40px;
  font-size: 1.2em;
  font-weight: 600;
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px #cacaca;
}

.row-perfil-profile-senha form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 1.1em;
  font-weight: 600;
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px #5e5e5e;
  width: 800px;
}

header ul a svg path {
  fill: #E674AB;
}

/* HOME */

.banner {
    background:radial-gradient( #c2317c6a, #fde1fb);
}

.banner:after {
    border-top: 30px solid #fde1fb;
}

.banner2:after {
    border-top: 30px solid #fde1fb;
}

.objetivos:after {
    border-top: 50px solid #fde1fb;
}

.liz-amarelo, .liz-azul {
  display: none;
}

.banner2 {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

.banner3 {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

.verde {
    background: linear-gradient(45deg, #C23160, #C23160);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
  
.titulo-1-cor {
    background: linear-gradient(45deg, #d47c00, #d47c00);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 65px;
}

.objetivos-blur {
  background:radial-gradient( #c2317c6a, #fde1fb);
  color: #ffffff;
}

.primeiro {
    padding: 120px 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 2px #8574745b;
    width: calc(80%/4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 5vh;
    transition: .4s ease-in-out;
    color: #000;
}

.primeiro svg .path1 {
  fill: #FF6D9C;
}

.titulo-hands svg path {
  fill: #C23160;
}

.line-dash path, .line-dash-2 path, .line-dash-1 path {
  stroke: #FF6D9C;
}

.primeiro svg .vetor {
  fill: url(#paint0_linear_334_373);
}


/* KIDS */

.banner1 {
  background:radial-gradient( #c2317c6a, #fde1fb);
}
  
  .banner1:after {
    border-top: 30px solid #fde1fb;
}
  
  .banner2-1 {
    background:radial-gradient( #c2317c6a, #fde1fb);
}
  
  .banner2-1:after {
    border-top: 30px solid #fde1fb;
}

.videoAulas {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

/* PROFISSIONAIS */

.bannerProf {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

.bannerProf:after {
    border-top: 30px solid #fde1fb;    
}

.btn-saiba {
  background-color: #ffffff;
  color: #000000;
  filter: drop-shadow(0 0 20px #ffffffaa);
}

.sec-2 {
    background: linear-gradient(180deg, #fde1fb, #fde1fb , #fde1fb98, #ffffff0c, #ffffff00);
}

.wrapper .carousel .item .p {
    color: #585858;
}

  ::-webkit-scrollbar-track {
    background-color: #fde1fb;
}
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
}
  ::-webkit-scrollbar-thumb {
    background: #ffffff81;
    border-radius: 10vh;
}

.cont svg .path1 {
  fill: #ffa1ce;
}

.cont svg .path2 {
  fill: #ffa1ce;
}

.carousel img{
  filter: drop-shadow(10px -20px 6.4rem  #ff3d7a);
}

/* AULAS */

.bannerAulas {
  background:radial-gradient( #c2317c6a, #fde1fb);
}
  
.bannerAulas:after {
    border-top: 30px solid #fde1fb;
}

.verdeAulas {
    color: #C23160;
}

.videoAulasAulas {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

.questoes {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

.questoes:after {
  border-top: 30px solid #fde1fb;
}

.questoes a {
  background-color: #C23160;
  color: #fff;
}

.row-categorias a {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ff6fe2c8;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .row-categorias svg path{
    fill: #ffffff;
}

.questoes svg circle {
  fill: #c2317cad;
}

/* ATIVIDADES */

main {
    color: #fff;
}


.answers button{
  width: 190px;
  height: 70px;
  border: none;
  border-radius: 15px;
  background-color: #E674AB;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.btnRestart {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #E674AB;
  color: #fff;
}

.finish a {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #E674AB;
  color: #fff;
  text-decoration: none;
}


/* PERFIL */

.perfil {
  background:radial-gradient( #c2317c6a, #fde1fb);
}

.titulo-cor-vermelho {
    color: #621061;
}

.config-div {
box-shadow: 0 0 20px #93939333;
background-color: #fde1fb;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }
  ::-webkit-scrollbar {
    width: 9px;
    padding: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffffffd5;
    border-radius: 10vh;
  }

.icon-config {
    background-color: #fc950453;
}

.icon-priv {
    background-color: #8aa33164;
}
    
.icon-sino {
    background-color: #ab80f166;
}
    
.icon-excluir {
    background-color: #e536364d;
}

.balao2 {
    background-color: #fde1fb;
    color: #ffffff;
}

.balao3 {
    background-color: #fde1fb;
    color: #ffffff;
}

.opcoes {
  height: 100vh;
  position: relative;
  width: 30%;
  background-color: #FFBDFC;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opcoes ul a{
  text-align: left;
  font-size: 1.1em;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.opcoes button {
  border: none;
  width: 90%;
  height: 70px;
  border-radius: 15px;
  background: #ffffff4a;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.titulo-config {
  position: absolute;
  top: 40px;
  left: 25px;
  color: #68584C;
}

input[type=file] {
  border-radius: 5px;
  border: 1px solid #333;
  background: transparent;
  color: #fff;
  height: 30px;
  width: 300px;
  cursor: pointer;
}

.img-perfil-profile img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-perfil-profile1 img {
  border-radius: 100%;
  position: relative;
}

.picture path {
  fill: white;
}

.picture .borderSvg {
  width: 36px;
  height: 36px;
  background-color: #353535;
  border-radius: 100%;
}

.opcoes ul a button{
  color: #332f2b;
  margin-left: 15px;
}

.row-perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  gap: 40px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px;
  border-radius: 20px;
}

.row-perfil-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 40px;
  font-size: 1.2em;
  font-weight: 600;
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px #b36ea0;
  width: 800px;
}

.temas #theme-toggle-pink svg {
    border: 2px solid #16B0FF;
    border-radius: 19px;
    overflow: hidden;
}

.bannerCirc, footer, .container-cat, .formas, .bannerKIDS, .vantagens, .crieContaKids, .temaAdulto, .crieContaProf, .bannerAdulto, .bannerAdultoApp, .bannerAdultoBaixe, .formasPerfil  {
  display: none;
}