body {
    overflow: hidden;
    position: relative;
    padding-top: 50px;
}

header ul .perfil {
    filter: drop-shadow(0 0 1.5rem #234747);
}  

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100vh;
}

.bannerUpload {
    display: flex;
    margin-bottom: 6vh;
}

.bannerUpload .bannerSvg {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 85%;
    z-index: -1;
}

form {
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 6vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 0 25px #4141416c;
    margin-bottom: 6vh;
}

form input, button, select{
    padding: 9px;
    border-radius: 50px;
    border: none !important;
    cursor: pointer;
}

button {
    background: linear-gradient(90deg, #e1e1e1, #e1e1e1);
    transition: 1s ease-in-out;
}

button:hover {
    transition: 1s ease-in-out;
    background: linear-gradient(90deg,#9E1322, #EB291E, #FE713B, #8F7455, 
    #234747, #19242A);
    color: #fff;
}

.titulo-1 {
    font-size: 80px;
    max-width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-shadow: 10px 5px 20px #6e6e6e62;
}

.titulo-1 svg {
    width: 250px;
    height: 84px;
}

header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  
  li {
    list-style: none;
    /* font-family: kumbh-regular; */ 
    font-size: 2.1vh;
  }
  
  /* a:hover {
     font-family: kumbh-medium;
  } */
  
  a {
    text-decoration: none;
    color: #907a85;
  }
  
  .premium-usuario {
      display: flex;
      align-items: center;
  }
  
  .usuario {
      padding-left: 10px;
  }
  